<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>

<div class='col-sm-5 people'>

    <h1 style="text-align: center;display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;"><br>
        Aprile 2018 Investment Update: New Fund and Biotech Investing</h1>


    <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Dear investors and well-wishers,<br>
    <br>
    <strong>New fund update</strong><br>
    <br>
    We’d like to announce that we’re launching a new fund. This will run the same strategy as our existing fund, but be domiciled in Australia, denominated in Australian dollars, and be otherwise optimised for Australian investors.<br>
    <br>
    Investors who commit more than $500k before 1 June 2018 will qualify as Founding Investors, and be entitled to a 50% discount on all performance and management fees in perpetuity. This will apply to both the initial $500k, as well as any subsequent investment. The fund will go live on 1 July 2018, and we will continue to run our existing USD fund in parallel. <br>
    <br>
    Please contact me if you’d like more information. The fund will also have a lower minimum investment threshold.<br>
    <br>
    Existing investors who invest in the new fund will automatically qualify as Founding Investors, and I’d like to sincerely thank you all for supporting us so far.<br>
    <strong>April Performance</strong><br>
    <br>
    The fund dropped -0.2% net of fees and costs in March. The ASX 200 added 3.9% and the S&P500 advanced 0.3%.  In AUD terms, the fund advanced 1.7%.</p>

<p style="text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;"><img data-file-id="3097289" height="116" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/f8ec63d2-38c2-429a-9281-fe27d5a22aeb.png" style="border: 0px initial;width: 400px;height: 116px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"></p>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"><br>
    Net of all fees and costs, since inception, the fund has returned 1.6x the S&P500 in USD, and in AUD terms, 1.9x the return of the ASX 200.<br>
    <br>
    <strong>Biotech</strong><br>
    <br>
    Our best performer this month was Avexis, who is developing genetic cures for babies born with SMA, a disease which robs infants of the ability to walk, eat, and eventually breathe. Avexis has had stunning early successes, and was bid for by Novartis at a premium of 125% to our purchase price about six months ago.</p>

<p style="text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;"><img data-file-id="3097285" height="264" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/d96944a8-cd8f-4fd2-b76d-3522611e1ed9.png" style="border: 0px initial;width: 450px;height: 264px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="450"></p>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"><br>
    This was the second major buyout of a gene therapy firm in our fund. The first was Juno, bought by Celgene at a premium of 48% to our initial purchase, and bluebird bio has been one of our best performers.</p>

<p style="text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;"><img data-file-id="3097281" height="263" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/23a5a05d-a47e-4de1-9bda-309066c2d6f3.png" style="border: 0px;width: 450px;height: 263px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="450"></p>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"><br>
    From the outside, biotech investing can seem like a set of binary gambles. It doesn’t help that the billions resting on many trial outcomes attract a rogues gallery of scoundrels, who through flattery, deception, and payment-for-access find black information.<br>
    <br>
    As always, we use simple common sense and derive our investment theses from first principles, a process we expect to handily outperform any unscrupulous practitioners.<br>
    <br>
    We invested in these gene therapy firms for the following three reasons.<br>
    <br>
    <strong>Firstly, we believed that genetic engineering was highly specific, and success in early trials was far more likely than usual to lead to regulatory approval. </strong><br>
    <br>
    Most drugs you see in the pharmacy are small molecules. Many were found by screening soil samples from around the world, where the constant chemical warfare between bugs creates immense evolutionary pressures to develop novel antibacterial agents.<br>
    <br>
    The difficulty is that biologically active small molecules tend to be biologically active in many different ways, and invariably upset finely balanced biological systems. In other words, they cause side effects. <br>
    <br>
    A promising candidate that miraculously cures patients in a 20 person trial, might in fact make a very bad investment. The inevitable side effects – ranging from terrifying nightmares to sudden death - will only become apparent when thousands are dosed at the pivotal final trial.<br>
    <br>
    Our gene therapy players don’t have this fundamental proclivity towards inducing side effects. The process involves removing a patient’s own cells, correcting the identified error, then reintroducing them. There is no fundamental reason for this to cause any side effects at all.<br>
    <br>
    This is not to say there aren’t risks – there are. And the process itself does create side effects. But we believe that there is far more information in a successful Phase I trial for a highly specific genetic treatment than for a typical small molecule. This has broadly played out as expected.<br>
    <br>
    <strong>Secondly, we expect these treatments to cost vast sums.</strong> Genetic diseases like sickle-cell disease can require a lifetime of treatment and lead to decades of additional healthy life. One-time genetic cures are extraordinarily valuable, and be worth hundreds of thousands or millions of dollars per patient to insurers.<br>
    <br>
    This part of the thesis also played out. Spark Therapeutics, one of our portfolio companies, is charging $425k to cure genetic blindness <em>per eye. </em>  <br>
    <br>
    <strong>Thirdly, we believed there is platform value and sustainable competitive advantage in the leading gene therapy companies.</strong> Platform value in this context means value in excess of the sum of the parts, and is a treacherous thing in financial markets. More often than not it is actually <em>negative</em>, and you want to buy at discounts, ideally extreme discounts, to the sum-of-the-parts, not the opposite. <br>
    <br>
    However in this case, genetic firms require serious infrastructure to gather cells from multiple treatment centers, correct the genetic error, then send it back to the patients. This is not something that can be simply recreated, and is a necessary capability to generate the next generations of gene therapies, such as those that involve more than one gene.<br>
    <br>
    This also helped the fund with bluebird bio’s performance. We largely bought the stock for the genetic disease pipeline, but as it turns out, a similar process can be used to fight cancers. Bluebird’s oncology trials have faired well, and the stock responded proportionally.<br>
    <br>
    Our performance in biotech has been over a period where returns in the biotech sector itself were modest.</p>

<p style="text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;"> <img data-file-id="3097293" height="263" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/89e3d591-ae7a-4d00-a81a-f6f19a264da0.png" style="text-align: center;border: 0px;width: 450px;height: 263px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="450"></p>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"><br>
    The reason the major pharmaceutical companies missed the trend was that a number of patients in an early trial developed leukemia, setting back the field perhaps a decade.<br>
    <br>
    Now the technology has matured, major pharmaceutical and biotech firms need to pay vast premia to acquire the few companies that invested in developing the expertise. This is another helpful tailwind.<br>
    <br>
    It was this confluence of factors, rather than a desire to speculate on individual trials, that gave us the conviction to invest in the theme.<br>
    <br>
    Best wishes<br>
    Michael<br>
    <br>
    If you were forwarded this you can subscribe to our updates <a data-saferedirecturl="https://www.google.com/url?hl=en-GB&q=https://fraziscapitalpartners.us12.list-manage.com/track/click?u%3D08c26e5e46cf7c109889f7d9d%26id%3D73955b9a4a%26e%3D8b7c8d7459&source=gmail&ust=1527127188679000&usg=AFQjCNErShnp_KpQoxLEcSagdpEpS2zKRQ" href="https://fraziscapitalpartners.us12.list-manage.com/track/click?u=08c26e5e46cf7c109889f7d9d&id=73955b9a4a&e=8b7c8d7459" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">here</a></p>

<p style="text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;"><img data-file-id="3097377" height="464" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/f4cfcfb3-ee16-45b5-a6a4-beee8172fd95.png" style="border: 0px;width: 400px;height: 464px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"></p>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"><br>
    Note: Exposure was temporarily lower than usual as we reduced some positions at the end of the month, notably Avexis. We also own Nasdaq upside optionality, and paired this with a put spread on the S&P500.  <br>
     </p>

<hr><br>
<br>
<strong>Disclaimer</strong><br>
<br>
The contents of this document are communicated by, and the property of, Frazis Capital Partners. Frazis Capital Partners Pty Ltd is a Corporate Authorised Representative (CAR No. 1263393) of Lanterne Strategic Investors Pty Ltd (AFSL No. 238198).<br>
 <br>
The information and opinions contained in this document are subject to updating and verification and may be subject to amendment. No representation, warranty, or undertaking, express or limited, is given as to the accuracy or completeness of the information or opinions contained in this document by Frazis Capital Partners or its directors. No liability is accepted by such persons for the accuracy or completeness of any information or opinions. As such, no reliance may be placed for any purpose on the information and opinions contained in this document. The information contained in this document is strictly confidential.<br>
 <br>
The value of investments and any income generated may go down as well as up and is not guaranteed. Past performance is not necessarily a guide to future performance.<br>
 <br>
<br>

</div>