<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>

<div class='col-sm-5 people'>
    <h1 style="text-align: center;display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;">August 2017 Update</h1>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Dear friends and investors,<br>
 <br>
We returned +3.8% in August, vs the S&P500 at +0.1% and the ASX200 at +0.7%.<br>
<br>
    <img src="../public/img/aug17/1aug17.png" class="img-responsive"><br>
<br>
A sad farewell </strong></p>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">I’ve held Apple since 2010. I’ve pitched it many times, but never had a positive response.<br>
<br>
I met a hedge fund manager in 2012 near a beach by my old Tamarama home. He asked for my best idea, and I pitched Apple.<br>
<br>
I naively expected some recognition for the insight that such a famous company was also fabulously priced, not to mention years ahead of the competition and rapidly growing. I instead got a long lecture about how stupid the idea was and how little I knew. The second part was true - I’ve always been more forest than trees.<br>
<br>
I treasure the moments where you notice something obvious right in front of your eyes, even more so when reality is the reverse of intuition. For example, the discovery that compulsory bicycle helmet laws actually increase the risk of death. So counter-intuitive, but so obvious when you realize.<br>
<br>
Such moments are all too rare. Most of the time we set ourselves in positions and hold them till death.<br>
One of those situations was realizing that famous Apple at fresh highs was actually one of the best risk-adjusted value stocks in the market.<br>
<br>
The fund manager said he had planned to introduce me to his pals at Platinum, but given my poor showing with Apple, had decided not to.<br>
<br>
Even now, Apple as an investment play is considered <em>so badly </em>in active management, that only last year it was parodied by Axelrod in Billions as an example of a ridiculous stock pitch.<br>
<br>
About the time I watched the show I bought it for the fund, and it has contributed 4% to the portfolio’s total return. Perhaps Axe should have been more open-minded.<br>
<br>
Why is Apple seen as such a classic example of a stupid stock?<br>
<br>
The story's important as it’s a reason our Fund is different.<br>
<br>
I can’t answer why it was so cheap, or so disliked. Often people sound smarter when they’re cynical – this is a problem that plagues much of finance. <br>
<br>
Apple grew at a phenomenal pace, as the late 2000s craze for the original iPhone spread outwards from the tech avant-garde on the US West Coast. iPhones are an incredible luxury product – because a huge portion of the world can afford them. <br>
<br>
Apple had net cash on its balance sheet (their debt has been spent on buybacks, for tax/shareholder returns) and for years has even paid a dividend of over 2%. With a buyback yield, the shareholder cash return has often approached 10%.<br>
<br>
Most important of all, Apple had a product that was shifting faster than it could be made, often selling-out for weeks at a time.<br>
<br>
This last point was the clincher, and why you didn’t need a feel for fashion trends to get this one right.<br>
<br>
Most companies can’t invest in a product that sells out at a huge margin. Ask a semiconductor manufacturer, an auto company, a ship builder, a chemicals producer, or a steel maker.<br>
<br>
It seems easy enough to build a factory only to churn out marginal or loss-making products.<br>
<br>
Apple, on the other hand, was investing billions every year and making multiples on those investments. They had a brand that people were willing to pay for, and often captured the entire profit margin of the whole smartphone industry.<br>
<br>
    <img src="../public/img/aug17/2aug17.png" class="img-responsive"><br>

By the way… try Apple Airpods. I was a sceptic but they are a game-changer. You won’t regret it.<br>
<br>
This willingness and ability to invest profitably was why I originally bought Tesla at ~$80. The firm was selling out of cars, and was able to land hundreds of thousands of orders for an unspecified Model 3 simply by taking presales. That is a rare quality.<br>
<br>
It seemed clear they’d take empty land in the Nevada desert, a certain amount of steel, and make a profit churning out >US$100,000 products. This is no Apple - cars are far more expensive than iPhones – but the product demand and brand is certainly there. I sold out after the SolarCity deal, for better or worse (so far worse).<br>
<br>
When we bought Apple for the fund, the buyback yield was about 7% and dividend yield was over 2%, for a 9% total yield. Forward EV / EBITDA, my favored metric was just under 8. We ended up selling at a multiple nearly 50% higher.<br>
<br>
There’s a few things to note on the chart below. Firstly, the multiple I was buying in 2011 was about what we bought the stock in 2016 for the Fund, though the stock had nearly tripled. Secondly the upwards move in the stock this year has been almost entirely due to multiple expansion, a good example of how assessing multiples instead of price can help with timing. There is an enormous difference between buying at 6x and buying at 10x.<br>
<br>
    <img src="../public/img/aug17/3aug17.png" class="img-responsive"><br>
This was a screaming buy, and has been for at least five years, and I don’t care how many of their suppliers you spoke to in Taiwan.<br>
<br>
So why are we selling out of Apple now?<br>
<br>
Frankly there are just better opportunities.<br>
<br>
When I bought Apple for the fund the firm was posting negative year on year growth. The view was that iPhones were shifting to a 2 (maybe 3) year upgrade cycle. So the stars aligned on earnings timing as well as valuation.<br>
<br>
A year or so later the valuation has rallied and it's time to reassess.<br>
<br>
My best bet is this round of iPhones sells well, but there’s no point sticking around to see if I'm right or not.<br>
<br>
Better to take the money.  <br>
<br>
For over five years I’ve ridden the stock up with earnings, noting that the valuation stayed constant. This is the first time I've been able to realize a change in multiple.<br>
<br>
(Before you email about all flaws of multiple analysis, note I’m comparing the same multiple on the same stock. Yes, I’m aware of the flaws of EBITDA, and would happily bore you with how and when to make adjustments, but let's stay focused on the forest).<br>
<br>
Apple’s current 11.5x forward EV EBITDA isn’t so bad vs a market 20-30% higher on average - without the brand quality. How does this compare to the rest of the portfolio?<br>
<br>
Well, we bought Fiat at a sub ~2x EV EBITDA multiple, Aegean at a ~1x EV EBITDA multiple, and you could argue that KKR is trading on an <em>after-tax</em> earnings multiple of sub 2x. With Berkeley and Persimmon we are buying companies backed by some of the best real estate in the world on multiples of 5.<br>
<br>
It’s bittersweet to say goodbye to a stock that has lost me jobs, possibly friends (I’ve been known to bore people with reasons why they should buy Apple), but has performed so well for so many years.<br>
<br>
Apple, it’s been great.<br>
<br>
If you move back down to 8x I’ll buy you back.*<br>
<br>
<strong>Aside on multiples</strong><br>
<br>
I was asked recently by a hedge fund manager in Sydney: ‘what’s so good about a multiple of 5’? I fluffed the answer, thinking it obvious. But this is why:<br>
<br>
Firstly, if a company trades at 5x EV EBITDA, that implies a base return of 20% on purchase price that can be spent on maintenance, growth, or handed back to shareholders. <br>
<br>
A company trading on a multiple of 20x - where the US trades now - only has 5% to maintain and grow its assets. That’s marginal, and will be soaked up by even a long 20 year replacement cycle of assets.<br>
<br>
There’s also a more important reason: companies often quadruple from 3x to 12x, but going from 12x to 48x is far less likely.<br>
<br>
Active investing is a dangerous sport, and we need high returns to justify the risks of active management in our constantly surprising world.<br>
<br>
The portfolio demands stocks that can triple or quadruple to make up for those that fall victim to fortune (or, ah, investor error).<br>
<br>
Our strategy is not necessarily for everyone and there are many ways and reasons to skin a cat. A utility trading at 20x with an inflation-protected 5% base return may have a welcome place in a pension fund portfolio, but that’s simply not our game.<br>
<br>
Microsoft is a good case study. Between 2001 and 2011 the stock basically flatlined. A bearish thesis based on Microsoft’s high multiple and Steve Balmer’s impressive ability to miss every major trend in his industry (search, social, mobile…) was unrewarding.<br>
<br>
But by 2011 the stock's fundamental performance had improved so much, that the flat stock price implied a massive value opportunity.<br>
<br>
I missed this one unfortunately, but given Microsoft’s global brand, quality and size, it would have been a great fit for our strategy. Now that it’s approaching 20x, we will hold off.<br>
<br>
    <img src="../public/img/aug17/4aug17.png" class="img-responsive"><br>
<br>
Closer to home, you can see a similarly interesting story in Telstra. A high multiple during the tech boom contracted in the 12 years from 1998 to 2010, but the stock went nowhere. Most stocks aren’t clear investment longs or shorts. But eventually the underlying performance improved so much that the multiple dropped to sub 5x, and a great megacap value opportunity arose.<br>
<br>
This story is invisible to anyone too focused on the price. Easy to get distracted by detail and the libraries of information produced on a stock like Telstra every month.<br>
<br>
Thank  you to an early BCG mentor Michael Chu who pointed out this story out to me in 2007.<br>
<br>
<img src="../public/img/aug17/5aug17.png" class="img-responsive"><br>
    There may be an opportunity looming in Telstra, let me get back to you.<br>
<br>
<strong>KKR </strong><br>
<br>
KKR, immortalized by the book <em>Barbarians at the Gate</em>, is a good example of the brand quality we go for. (I highly recommend chasing a copy down if you haven’t read it. Less for the finance, more for the unforgettable character vignettes and snapshot of the times).<br>
<br>
KKR has a market cap of $16 billion, but net cash and investments of circa $8 billion. If you add in unrealized carry and other assets you get a value of US$11.4 billion.<br>
<br>
So you could say KKR is made up of $11 billion of net assets plus an actual business that’s only marked at $4-5 billion.<br>
<br>
Given the firm made over US$1.6 billion of net income after tax over the last six months alone, and KKR is growing fee paying assets at 14% year-on-year, that is cheap by anyone’s standards.<br>
<br>
We make limited use of comparative analysis, but it bears noting that Blackrock is trading at a PE of 21x, Fortress at 20x, Blackstone at 15x and Apollo at 12x.<br>
<br>
KKR is well below its peers at 8x. (The closest is Oaktree at 10x.)<br>
<br>
Share growth is flat on a net basis – an immediate question for a firm that partly went public to pay its executives.<br>
<br>
Valuation is all well and good, but what about quality?<br>
<br>
At least partly because of <em>Barbarians at the Gate,</em> KKR has arguably the best brand in the business and is in a fine macro and competitive position.<br>
<br>
Wealth management assets are accumulating exponentially around the world, and are increasingly concentrated at a handful of top tier firms like KKR.<br>
<br>
With more than half of its $140 billion of assets invested in private equity across the globe, the firm is a levered play on global markets.</p>

<p style="text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;"><img align="center" data-file-id="2374277" height="367" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/ddb58de2-f20c-4b55-b17d-4cca4bebe606.png" style="border-image: initial;width: 300px;height: 367px;margin: 0px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="300"></p>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"><br>
But even the word ‘levered’ doesn’t do justice to the one-way boost KKR stock will gain from performance fees if the global economy surprises to the upside.<br>
<br>
The performance fees are like a positive carry option on global performance, and given that KKR pays a ~5% dividend at our purchase price.<br>
<br>
Unlike hedge funds, KKR doesn’t have to deal with margin calls on its private equity book either.<br>
A stock investor that ran at the leverage of a KKR buyout fund would quickly wipe out.<br>
<br>
On the risk side, naturally, the firm can lose capital, and marks its books. KKR was overextended in energy and took a deserved hit for their ill-timed over-exposure. Our bearish views on oil, now profitably exited, can be found in previous letters.<br>
<br>
As the firm marks down the value of its investments, earnings can quickly turn negative and look very ugly indeed.<br>
<br>
But what would actually happen in a recession?<br>
<br>
The most likely scenario is KKR continues to clip fees, raise funds and make investments , and would no doubt emerge larger and stronger, with a higher share price to boot.<br>
<br>
It helps that over 75% of KKR’s AUM is locked up for more than 8 years at inception.<br>
<br>
In a down-side scenario, the crisis-vintage funds would perform very well (given their non-callable leverage) and we'd expect KKR’s through-cycle performance would be decent, as seen through past cycles. Naturally, there are risks to this view. <br>
<br>
From the fund’s perspective, the kind of downturn that would rock KKR’s diversified >US$100 billion portfolio would generate significant profits in our hedging book, so the stock is a good fit for our portfolio.<br>
<br>
We’d expect our hedging portfolio to generate cash in a recession, and could reinvest this at cyclically opportune time in cyclically levered stocks like KKR.<br>
<br>
I’ve suffered plenty  of down months and quarters, but I do aim to significantly outperform the market between equivalent points in consecutive cycles.<br>
<br>
You can hold me to that.<br>
<br>
<strong>Conclusion</strong><br>
<br>
The Fund has been waiting for a chance to generate returns out of our hedges. This month, a short sell-off returned 1.2%, and the VIX barely cleared 16.<br>
<br>
A fund manager recently told me that our strategy of buying ‘cheap, fast-growing companies’ is simply ‘not marketable’.<br>
<br>
I can’t speak for marketability, but you can be assured that’s exactly what we’re going to do. <br>
<br>
Best,<br>
Michael</p>
</div>