<style>
    #contactt{
        background-color:lightblue  ;
    }
</style>


<div class="col-sm-5">
    <h5 class='contactdets'>The manager can be contacted directly at: michael@fraziscapitalpartners.com</h5>
    <p></p>

    <h5 class='contactdets'>Alternatively, sign up to our mailing list to the right for more information.</h5>
</div>
