<style>
    #cryptot{
        background-color:lightblue  ;
    }
</style>



    <h1 style="text-align: center;">CRYPTO</h1>

    <img src="../public/img/MCethereum.png" class ='img-responsive'>



    <p>We are living through a historic period in financial markets. The price movements of cryptocurrencies over the past few months will be studied for centuries. June letter will follow shortly (we were roughly flat) but prices are moving so fast in cryptocoins that I want to get thoughts on paper before they become obsolete.<br />
        <br />
        The combined &lsquo;market cap&rsquo; of cryptos rushed from $29 billion in early April to over $114 billion a month later. It&rsquo;s rare to see $100 billion of value created so rapidly. Ethereum alone jumped from less than $1 billion in February to $36 billion in June.<br />
        <br />
        The crypto complex is now large enough now to move far larger markets. The market cap peaked around the same time as tech stocks last month, and matched speculative stocks like Tesla movement for movement.<br />
        <br />
        Bitcoin and Ethereum, the two leaders, have about half a billion USD volume every day. The same friends asking what stocks to buy are dipping their toes into their first cryptocoin purchases.<br />
        <br />
        The mathematics behind cryptocoins is startling and elegant. I highly recommend learning what hashes are and how they underpin a distributed trustless medium of exchange. Bitcoin&rsquo;s solutions to problems such as double spend are surprising and impressive.<br />
        <br />
        I&rsquo;ve wrote long ago (<a href="https://adamantic.wordpress.com/2013/04/11/anarchy-and-bubblecrap/" target="_blank">cryptocoins and bubblecrap</a>&nbsp;and&nbsp;<a href="https://adamantic.wordpress.com/2013/05/16/thriving-hive-2/" target="_blank">thriving hive</a>&nbsp;when bitcoin was a wee $200) about the impracticalities of bitcoin. It now costs perhaps $4 to process a single transaction, which can take up to ten minutes. An enormous amount of computing power and electricity is wasted solving the arbitrarily difficult problems at the core of the currency, and distributed ledgers will always consume more time and energy than a single ledger. This is depressing.<br />
        <br />
        The computing power applied to bitcoin could have been directed to science and dramatically advanced our understanding of, say, protein folding and drug design. The capacity directed towards bitcoin mining is totally wasted.&nbsp;<br />
        <br />
        Moreover, holding and transferring bitcoin exposes you to a rats nest of hackers, thieves and criminal states. You invariably end up using third party wallets, which are perfect targets for attack or theft. Often enough the owners of wallets, taking a look at all the bitcoin in their merged accounts, decide to run off with the loot themselves and expedite the process. The odds of minting coin on the speculative side AND walking away with real currency are low. &nbsp;&nbsp;<br />
        <br />
        These flaws are well known. So where are these movements coming from? Is there any substance here, or just speculative froth?<br />
        <br />
        It&rsquo;s reassuring to discover that something as new, mysterious and frankly surprising as crypto can be analysed through the familiar lens of supply and demand.<br />
        <br />
        <strong>Demand</strong><br />
        <br />
        There are four clear drivers of sustainable demand (let me know if you think of others): criminals, mafia states, citizens in dodgy countries and true believers. &nbsp;&nbsp;&nbsp;<br />
        <strong>1. </strong>First and foremost, the <strong>criminals</strong>.<br />
        <br />
        Bitcoin seems custom-made for international villainy. There is the Dread Pirate Roberts, the founder of the Silk Road, a website accessible only through a Tor browser; the Amazon for drugs and criminal merchandise. The Dread Pirate turned out to be a far nastier character than expected, and the Silk Road was shut down. But countless copycat websites have sprung up and offer everything from mail order cocaine to child pornography and FBI agents posing as hitmen (hitmen you meet online can be safely assumed to be FBI).<br />
        <br />
        The typical transaction on the silk road is visible to everyone that uses bitcoin. That is the point of a distributed ledger. Most of the silk road addresses are known (certainly to the police), so it&rsquo;s possible to trace who transacted on it, especially if you used the same wallet to purchase drugs as anything else.<br />
        <br />
        Even depositing coins requires photo ID in most instances.<br />
        <br />
        My favourite cyberpunk novels from the 90s had this idea that the smartest hackers would be young kids in bedrooms, with immense power. The reality turned out to be very different. (I have mixed feelings over how it turned out).<br />
        <br />
        Smart kids in bedrooms can no longer compete with the state. The Tor system itself was produced by the US Navy, and can probably be hacked if you run enough nodes. Even if there is some balance between parties that don&rsquo;t speak to each other - the Russians, Chinese, Iranians and Western alliances - encrypted traffic can be stored by all and attacked by future technology, perhaps quantum computers that compute in more than one dimension. There is also the inevitable reality that ordering something illicit online requires, someone, somewhere, to have your address.<br />
        <br />
        For all we know the founder of bitcoin was a Government entity formed to track criminal behaviour around the world, or facilitate it. This would explain quite a few things. Most people on this planet would sell a bitcoin or two once their stash reached $50 billion, but not the bitcoin founder.<br />
        <br />
        Global criminal enterprise is large, even before you consider the obvious use case of tax minimization. Remember that mined bitcoin is completely untraceable. Investing in miners would be a good store of cash for these guys.<br />
        <br />
        Bitcoin is a clear leader in facilitating the international drug trade and will remain so for some time. It certainly beats sending a payment to your bulk dealer through the SWIFT network, or dealing with pallets of cash.<br />
        <br />
        By some estimates 7% of all exports are illicit and organised crime has a turnover of $870 billion. Against those figures bitcoin&rsquo;s market cap of $41 billion doesn&rsquo;t look so large at all.<br />
        <br />
        <strong>2. </strong>The second source of natural demand are <strong>Mafia States</strong>. North Korea, in particular, who I&rsquo;m sure is always looking for ways to keep lil Kim supplied with hookers, caviar and retired US basketball players. They have divisions that counterfeit US currency, manufacture drugs and participate in rackets all over the world.<br />
        <br />
        No matter what you think of the KGB or indeed the CIA, you can be assured the North Korean secret agents would go further. Mining cryptocurrencies would be an attractive use of Lil Kim&rsquo;s free slave labor and state resources, and I have no doubt the thought has crossed his mind.<br />
        <br />
        Many of the attacks on retail bitcoin wallets may well come from North Korea.<br />
        <br />
        There may be other states who have realised that shenanigans can be funded by mined or stolen bitcoin, with none of the pesky issues relating to FATCA, AML and KYC.<br />
        <br />
        3. <strong>Citizens in dodgy countries</strong>. I&rsquo;m not thinking of the USA. I&rsquo;m thinking of places like Ukraine, Georgia, Venezuela, or Tanzania, where a new Government might steal your funds at any time, or Russia might invade and do the same.<br />
        <br />
        The same way any corrupt billionaire worth his salt has a Swiss vault full of gold and London apartments near Grenfell, they will also have &ndash; or soon have &ndash; anonymized wallets full of cryptocoins, ready for bribing pilots and funding lifestyles in exile.<br />
        <br />
        <strong>4. True believers</strong>. If I missed this boom, it was because of my general disdain for people who swallow cryptocurrencies whole. (I did buy a miner with a mate a few years ago but he never plugged it in). Would you prefer the sinners above controlled your after-tax spending power, or, say, the Australian Government?<br />
        <br />
        I&rsquo;ll take the centralized ledger at the RBA any day, and so should you. But the four sources of real demand above are real and here to stay.<br />
        <br />
        Whoever it was in the mafia, North Korea, and billionaire advisory circles who advocated diversification into cryptocoins has showered themselves in riches and glory.<br />
        <br />
        <strong>5.</strong> Should also mention <strong>speculators</strong>, but the effect of punters has been done to death over the centuries and we&rsquo;re all familiar with the principles. Suffice to say, speculators buy things going up and sell things going down.<br />
        <br />
        They put in capital at the top of market and take it out of the bottom, and their cross-cycle returns are generally negative (applies especially to assets like bitcoin and commodities, less so for equities, where dividends and company profits mean that they only tend to lose relative to the market). A recent example of note is the mining industry, which managed to emerge out of&nbsp; the greatest boom in history with net capital losses.<br />
        <br />
        Speculators make the highs higher and the lows lower.<br />
        <br />
        <strong>A quick take on the tech bubble (not this one - more on that in the June letter coming shortly)</strong><br />
        <br />
        The late 1990s has much in common with cryptocoins.<br />
        <br />
        Newcomers to the market often think about, and certainly ask, whether the whole thing is zero sum. In a way every transaction is zero sum, but there are very few markets that are truly zero sum.&nbsp;<br />
        &nbsp;<br />
        Consider a simplified stock market, where investors put all their cash in listed equities. When private equity group comes in and takes a listed business private, the stock market investors get a extra cash from outside the system and increase their positions. It is not zero sum for them.<br />
        <br />
        Similarly, all option traders can make money over a particular period, because they interact with other markets. All stock market investors can make money, because dividends and buybacks funnel cash from the rest of the world into their collective hands.<br />
        <br />
        On the flip side, the combined PnL of the trading floors of investment banks and brokers pull money out of the hands of equity investors. Ask mutual funds, who to a first approximation trade amongst themselves in a way that <em>should</em> by zerosum. They underperform the market on average, by about their fees and transaction costs. That is no accident, in fact it&rsquo;s surprising how consistent these studies end up at 1-2% underperformance, which is about what you&rsquo;d estimate transaction costs and fees.<br />
        <br />
        How is this relevant to the tech companies, and cryptocoins?<br />
        <br />
        I find the most convincing explanation of the tech bust that the non-zerosumness of the stock market suddenly became extremely important, when the market was swamped with supply in the form of IPOs.<br />
        <br />
        Consider the impact of an IPO on the model above, where the fully-invested zero-sum equity investors trading amongst each other. IPOs break the equilibrium. Stock in a new company is sold and cash is taken out of the pool of equity investors. When you watch the charts there is clearly a point where IPOs skyrocket. The price of speculative tech growth promptly collapsed.<br />
        <br />
        This is George Soros&rsquo;s reflexivity in motion.<br />
        <br />
        <strong><img data-file-id="2185925" height="312" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/332b0cb7-a65d-4191-b069-5d572853c154.png" style="border: 0px  ; width: 500px; height: 312px; margin: 0px;" width="500" /><br />
            <br />
            Supply</strong><br />
        <br />
        Until recently the only cryptocurrency game in town was bitcoin. New bitcoins are released very slowly and have an upper limit. The only way a newcomer can buy bitcoin is to take cash out of the real world and funnel it into the bitcoin ecosystem.&nbsp;<br />
        <br />
        ICOs ,&nbsp;which stand for Initial Coin Offerings, are a new phenomena. Instead of raising $10 million, you can sell $10 million of a new currency, keeping the remaining $90 million of it yourself. The &lsquo;market cap&rsquo; of the currency is now $100 million, and the cryptocoins that you&rsquo;ve just sold can be used to purchase the new service or product. And you have $90 million of value. Neat.<br />
        <br />
        There is much to like about this cross between bitcoin and crowdfunding. Coins are much more liquid than stock in a privately funded company. They are tradable by nature. If the company succeeds they will have value.&nbsp;<br />
        <br />
        At some point, as with the tech bubble, these will soak up so much cash from the cryptocoin investor class that the price will come crashing down.<br />
        <br />
        Dogecoin is a joke coin based on the annoying Doge meme, and amusingly helped fund a Jamaican bobsled team heading to the 2014 Winter Olympics. It&rsquo;s worth over $260 million (off from a peak of $400 million).<br />
        <br />
        Pets.com? The height of the tech boom is no comparison to the mania going on right now. A recent favourite is &lsquo;Useless Ethereum Token&rsquo;, UET, which raised tens of thousands of dollars in a few days. It&rsquo;s marketing spin is that it is completely useless.<br />
        <br />
        Mercifully, FOMO coin has proven a rare dud.<br />
        <br />
        Take a look at <a href="https://coinmarketcap.com/">this ridiculous list</a> and see how far you have to scroll down to find someone who <em>didn&rsquo;t</em> make US$10 million.<br />
        <br />
        But it won&rsquo;t be a total wipeout. Demand for cryptocoins as a currency for criminals, rogue states, citizens in dodgy countries and true believers will put a floor under any crash. Something lasting will come of this craze.&nbsp;<br />
        <br />
        The best way to play the tech bubble was to clue up, IPO stock and sail off into the sunset. Similarly, the way to play the cryptocoins are through ICOs. Don&rsquo;t buy coins in a dodgy wallet. Don&rsquo;t buy expensive shovels. Think of a new coin with a spin, invest the $100k or so to launch it properly, and get going.<br />
        <br />
        I recommend selling 10% of your new coin stock for $10 million.<br />
        &nbsp;</p>

