<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>

<div class='col-sm-5 people'>

<h1 style="text-align: center;">Landscape and ideas</h1>
<strong>Introduction</strong><br />
<br />
Once you start thinking about cryptocurrencies it&rsquo;s hard to think about anything else. <a href="#_ftn1" name="_ftnref1" title="">[1]</a><br />
<br />
As an example of the innovation going on right now, POWR is a new cryptocoin that raised $10 million in Perth. It&rsquo;s impressive to see someone raise $10 million in Perth for a startup that isn&rsquo;t a speculative mine two hours&rsquo; flight from the closest town. The idea itself shows crypto in full flight.<br />
<br />
There are about 1.7 million households in Australia with solar. Interacting with utilities is a pain the neck. Sometimes your bill is reduced, sometimes you get money, sometimes nothing at all. It all depends where you are, who your provider is, and some opaque calculation with a single counterparty.<br />
<br />
Enter POWR, where anyone can put up a solar system of any scale, earn POWR tokens and trade them instantly with anyone who wants green electricity around the world.<br />
<br />
An opaque and arbitrary system transforms into a fair and functional marketplace.<br />
<br />
<strong>The current landscape</strong><br />
<br />
Serious cryptocoins seem to fall largely into two segments<a href="#_ftn2" name="_ftnref2" title="">[2]</a>:

<ol>
    <li>Those taking the currency side of things seriously</li>
    <li>Startling innovation</li>
</ol>

<strong>1. Currencies</strong></li>
<p></p>
The more interesting new cryptocoins address Bitcoin&rsquo;s original flaws.<br />
<br />
BTC&rsquo;s impractical ten-minute verification time has been improved to seconds by Dash, which is run democratically by users. Dash developers are paid by the coin&rsquo;s internal budgeting system, which, naturally, was voted in by users. Dash has anonymizing features, but is not the gold standard when it comes to secrecy.<br />
<br />
The winner of that particular race is currently Monero.<br />
<br />
My favorite crypto irony is that, inverse to what many seem to think, <em>dollars</em> are anonymous, but <em>Bitcoin</em> is not. The whole point is to have a public ledger!<br />
<br />
Monero uses <a href="https://people.csail.mit.edu/rivest/pubs/RST01.pdf">ideas</a> originally developed to help Government employees to leak information. The idea was to prove a message was authentic without identifying who in a particular group actually leaked it.<br />
<br />
Monero muddies the link between transaction amounts and addresses. While not the first to work along these lines, Monero developers effectively hacked their closest competitor to highlight their implementation deficiencies. Not a bad way to launch a cryptocurrency!<br />
<br />
A core crypto vulnerability &ndash; that 51% of the network can amend the blockchain - reduces with scale. Larger cryptocurrencies are far safer than new upstarts. A lot of thought has gone into this idea, but as it turns out, crypto networks are extremely robust to this kind of attack. Those who operate on that scale have little incentive to blow up the system.<br />
<br />
In the realm of alternative currency, Monero, Dash and Bitcoin seem to have the best prospects, but if you want to speculate on cryptos themselves, make sure you focus entirely on supply and demand. The supply side is coded in. Assessing demand requires more judgement. The real money is being made by launching innovative currencies, rather than trading the secondaries. &nbsp;
<p></p>
<p><strong>2. Innovation</strong><br>
</p>
<strong>a) Code on the blockchain</strong>
<p></p>
Ethereum offers a fully-fledged language (actually multiple) that allow code to run on the blockchain. While there are significant limitations (code is public, no secret keys, no API calls) it&#39;s quite a step forward.<br />
<br />
By establishing itself as a platform, Ethereum has attracted an ecosystem of developers working on implanting new products &ndash; the holy grail of startups. Applications range from signing your name on the blockchain to building entire apps.<br />
<br />
Ethereum allows anyone to quickly launch a token. Two tokens built on Ethereum have already passed the US$1 billion mark (QTUM and OMG). That is a lot of value created very quickly.<br />
<br />
Having said that, Ethereum has serious problems. The network can handle perhaps 1000x fewer transactions than Visa or Mastercard, and apparently uses more electricity than Cyprus.<br />
<br />
No doubt this statistic will work its way up the list of nations.<br />
<br />
I&rsquo;ve seen some worrying proposals about how to make &lsquo;Proof of Stake&rsquo; work that betray a lack of understanding of interest rates. I hope they don&rsquo;t err here. Very smart people have understood interest rates very wrong.<br />
<br />
On the positive side, unlike Bitcoin, Ethereum has a clear leader and foundation that can drive development &ndash; though every change risks a fork in the currency. Design decisions made at the launch of a cryptocurrency are extremely difficult to amend.<br />
<br />
For a coin with the speed of Dash and the Turing completeness of Ethereum! The best cryptocurrencies are almost certainly yet to come.
<ul style="list-style-type:lower-alpha;"><br>
    <li><strong>b) Venture Capital</strong>&nbsp;</li>
</ul>
In three month period earlier this year, over $860 million was raised in ICOs. The idea here is simple: instead of rasiing equity or debt to build a product, you can presell tokens and use that to fund the idea. No dilution, no debt. Quite an innovative approach to finance, with immense benefits for founders that can generate demand for their product before it exists.<br />
<br />
You can draw a line from traditional presales to Kickstarter to ICOs. But unlike Kickstarter, ICOs are tradable and can raise cash on much larger scale. Most importantly, they don&rsquo;t rely on a company with specific ideas about the concepts allowed on their platform.<br />
<br />
In the current market, promise-backed coins trade well in excess of their value. These premiums will soon become something of a discount (trust me), and as with IPOs market, expect the ICO market will open and close as risk appetite surges and contracts.<br />
<br />
The concept is here to stay.<br />
<br />
Venture capital has historically concentrated on certain areas, and favours particular demographics (white college males). VC investments are usually untradeable and force arbitrary strategic decisions when the firms need liquidity. Founders trade significant dilution of equity and control for financing.<br />
<br />
ICOs have the potential to resolve all of these issues.<br />
If there is demand for your product, you should probably be preselling it with tokens.
<br><p><br>
    <strong>c) Digital Assets</strong>
</p>
The most exciting concepts take these ideas much further, such as those involving digital assets.<br />
<br />
Along with many others, I&rsquo;ve griped for years about how Bitcoin computing power should be directed to useful projects, like protein folding. Golem is a commercial project that does precisely that, allowing anyone to earn Golem by donating computing power, or purchase it by paying Golem. Given that the bitcoin mining complex has more power than the top supercomputers in the world combined, it&rsquo;s quite feasible that the<br />
<br />
Amazon web services of the future runs on a blockchain model. &nbsp;&nbsp;<br />
A similar concept, only with storage as opposed to computation, is Filecoin, which raised $200 million just this month. There are other players in that field, but Filecoin is striking for the amount raised. I would be wary of betting on a company that raises at such a high valuation, however.<br />
<br />
Another favorite is Nexus, which finds <a href="http://www.nxsprime.com/">clusters of primes</a>, and so at least contributes somewhat to global knowledge.<br />
<br />
You could take these ideas much further, so here are three that have the core concepts of the blockchain at their very heart. &nbsp;<br />
<br />
<strong>Idea #1: A crypto approach to qualifications</strong><br />
<br />
If transcripts were encrypted and stored on a public blockchain, they would never be lost, forgery would be impossible and students could selectively reveal their marks to whoever they wished. A prospective employer might be granted access, for example, but a prospective mother-in-law wouldn&rsquo;t be able to pry (unless you wanted her to).<br />
<br />
I&rsquo;ve often played with the idea of turning the MOOC idea on its head. MOOCs are mostly free online courses from globally renowned institutions. They are immensely popular: 58 million signed up for them in 2016.<br />
<br />
But they emphasize lectures, gamification and digital learning. The reality is, you can watch all the TED talks you want, but you&rsquo;re not going to learn anything useful without intensive study.<br />
<br />
So instead of offering yet another online course, it would be far more useful to offer rigorous, in-person exams, with a blockchain twist.<br />
<br />
Exams would target three markets:
<ul>
    <li>Lifelong learners in core subjects (Maths, History, Literature, Computer Science)</li>
    <li>Professional qualifications - perhaps a modelling certificate.</li>
    <li>Employment tests, like those painful online ordeals that investment bankers require graduates to pass and are widely cheated.&nbsp;</li>
</ul>
The CFA shows how effective an exam model can be. The foundation simply provides a syllabus and biannual exams.<br />
<br />
They are highly respected, not because they&rsquo;re run out of sandstone built 800 years ago, but because they&rsquo;re damned hard to pass.<br />
<br />
I know there would be at least some demand or this, because I&rsquo;d be keen to take a couple.<br />
<br />
Most importantly, exams would allow brilliant students at lower tier universities to prove their mettle. Set up costs would be extremely low and the concept is globally scalable.<br />
<br />
The minimal funding could be achieved via a token sale, with all transcripts encrypted and recorded on a public blockchain, where the candidate can reveal or hide the results at will. &nbsp;<br />
<br />
<strong>#2: A coin for the sharing economy</strong><br />
<br />
At the moment everyone is focused on finding ways to help you <em>purchase</em> and <em>use</em> cryptocoins. It would be far better to focus on making it easier to <strong>EARN</strong> them.<br />
<br />
Especially now that the bane of FATCA and AML stand guard over the fiat/crypto border.<br />
<br />
There&rsquo;s a crypto play where you could take on the entire sharing economy by charging minor transaction fees of 0.1%, instead of the 25% fee of someone like Uber, while also offering a better and more global trust system. In similar fashion to the qualification above, a user&rsquo;s trust function could be selectively revealed to employers, lenders or counterparties.<br />
<br />
What would transaction fee economics look like? Dash is not widely used, but volumes are still ~US$1 billion a day. So 0.1% transaction fee across the network would be plenty to run a couple of global apps. Crucially this would be paid by the entire network, rather than the workers as in the current sharing economy.<br />
<br />
By launching with nascent apps and allowing people to earn cryptocoins on day 1 (without dealing with exchanges etc) you could rapidly create a community highly invested in the coin&rsquo;s success.<br />
<br />
Interestingly, Uber alone is valued at, say $60 billion<a href="#_ftn3" name="_ftnref3" title="">[3]</a>. This is the same order of magnitude as Bitcoin, which shows the scale of the opportunity, and puts things in perspective.<br />
Ethereum, with all those scaling issues, is not currently up to the task, nor is Bitcoin. Dash would be fast enough, but lacks the flexibility. This is certainly a solvable problem, the question is just whether to launch on another currency or fork and amend an existing one.<br />
<br />
In one swoop you could take out those big startup names from the prior decade, cash in on the crypto boom and change the world.<br />
<br />
<strong>A price stable blockchain</strong><br />
<br />
Price volatility is kind of a feature, not a bug. Everyone is excited about crypto right now because the coins heroically appreciated in price. They do that because there is fixed supply, and the economics favor early involvement.<br />
<br />
By offering discounted coins to early investors, and increasing difficulty for miners as more people get involved, high returns are baked into the cake. This approach that got the crypto complex off the ground and should be applauded. But for crypto to have real-world impact, it&rsquo;s time for more sophisticated and user-friendly approaches.&nbsp;<br />
<br />
Vitalik of Ethereum discusses at length volatile/stable coin combinations, where a volatile coin buys and sells a stable coin to keep the price flat. A very cool idea, but problematic &ndash; and at best highly theoretical - when you pin down the details.<br />
<br />
There are coins that attempt convertibility with various assets: the US dollar, gold, diamonds&hellip; but these often miss the point, often assuming, for example, that the coin always trades at a premium to the underlying. &nbsp;<br />
<br />
There&rsquo;s actually a simple solution to price volatility, with centuries of thought and practice behind it: price-targeting interest rates.<br />
<br />
For example, one could set up a &lsquo;FED&rsquo; coin, with a mandate to maintain price stability.<br />
<br />
The coin could be structured with best practices from 2017, not 2014. With the speed of Dash and the flexibility of Ethereum.<br />
<br />
A scaled-up Ethereum might be a possible solution, but an idea that big would really need to control its own machinery.<br />
<br />
To sell the initial coins, you could simply offer them at a discount and assert that interest rates will be set to price the coin at a higher level.<br />
<br />
Stable prices would offer all the benefits of crypto with none of the crazy price risks. The value could be &lsquo;pegged&rsquo; to a basket of international currencies, weighted by some independent statistic.<br />
<br />
The Bitcoin community would scream. The anarchists deserve significant credit for bringing crypto from the bedroom to the modern world. For all the hype around &lsquo;fintech&rsquo;, social lending and so on, these often strange characters were the ones driving real innovation.<br />
<br />
They certainly didn&rsquo;t do it to install a new interest rate setting authority!<br />
<br />
A FED coin would be the end of the anarchist pirate era, but the beginning of crypto&rsquo;s long promised benefits. This would also be the global currency we&rsquo;re waiting for.<br />
<br />
Right, there&rsquo;s three ideas, and this whole space will be stitched up in five short years. Who wants to help?<br />
<br />
Mike<br />
&nbsp;<br />
ps there are two concepts in crypto worth knowing about if you haven&rsquo;t come across them:<br />
<br />
<strong>Hash Functions</strong><br />
<br />
Hash functions take a number of any length, and return a number of a fixed length.<br />
<br />
For example, you could add the left most digit to its neighbor until you had one digit left. But this wouldn&rsquo;t be very useful as there would only be ten possible hashes.<br />
<br />
A good hash function would take the entire works of Shakespeare into, say, a 16-character hash, and changing a<br />
single letter on a single page would change the hash entirely.<br />
<br />
An excellent hash function would make it impossible to find the original text without trying every combination.<br />
<br />
This is roughly how Bitcoin mining works. Miners start with a number representing the entire preceding transaction record and other public data, like timestamps.<br />
<br />
They then multiply this by another number, &lsquo;the nonce&rsquo;, until they find a hash with a set number of zeros. The number of zeros can be increased or decreased to change the difficulty. It&rsquo;s currently 18.<br />
<br />
Miners ask computers to generate numbers of lower difficulty, with fewer zeros. Those that don&rsquo;t have enough zeros are quickly discarded, but it&rsquo;s an easy way to verify how much computing power each contributor to the mining pool has donated.<br />
<br />
If a miner finds a nonce, it broadcasts it to the network, which can quickly verify the transaction.<br />
<br />
Note that the hashing algorithm is asymmetric: easy in one direction, near impossible in the other.&nbsp;&nbsp; This is how modern passwords systems work.<br />
<br />
<strong>Public and Private Keys</strong><br />
<br />
The second concept is how public and private keys can be used to communicate securely and prove identity. The idea is simple, though you wouldn&rsquo;t know it from the butchered explanations all over the internet.<br />
<br />
Everyone in the system has a private key and a public key. If I want to send YOU a secure message, I decrypt it using YOUR public key. Only YOU can decrypt it with your private key.&nbsp; I can show the encrypted message to anyone, and send it over any channel, but only you can decrypt it.<br />
<br />
Different addresses can use their keys to encrypt data and add signatures. The encrypted data can be there for all to see on a blockchain, but only those with the key can unlock it. Quite a subtle idea.
<div>&nbsp;
    <hr align="left" size="1" width="33%" />
    <div id="ftn1"><a href="#_ftnref1" name="_ftn1" title="">[1]</a> The way blockchains demands all spending states collapse into a single linear transaction chain reminds me of how fuzzy quantum states collapse on measurement into the linear reality we observe. Spooky.<br />
        &nbsp;</div>

    <div id="ftn2"><a href="#_ftnref2" name="_ftn2" title="">[2]</a> Jokes tend to do quite well, as the lifeblood of a new cryptocurrency is attention.<br />
        &nbsp;</div>

    <div id="ftn3"><a href="#_ftnref3" name="_ftn3" title="">[3]</a> I mean, I wouldn&rsquo;t pay that, but people have!</div>
</div>
</div>
