<style>
#insightt{
background-color:lightblue  ;
}
</style>

<div class='col-sm-5 people'>
                            <h2 style="text-align: center;">December 2017: State of the Market</h2>

    Dear investors,<br>
    <br>
    The Fund returned +0.2% in December. The S&P500 returned 1.0% and the ASX200 returned 2.8%.</p>

    <div style="clear:both;"><img data-file-id="2667881" height="156" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/567ccc0d-2d1a-414d-9b7c-110f56a6e0b1.png" style="border: 0px;width: 600px;height: 156px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"></div>

    <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">We have appointed Deloitte to audit the fund for the period from our June 16 launch to December 2017. The fund will now be audited on an annual basis each calendar year.  <br>
        <br>
        In January we sold out of Juno after an acquisition approach by Celgene lifted the stock ~50%, and we sold out of Bellicum, which was not performing.<br>
        <br>
        This concluded a mixed year. While our stocks were up significantly, we spent much of the year with a net negative exposure, and suffered for it. Given that we take two-way positions in risk, one side of this trade will always underperform when markets move in a single direction.<br>
        <br>
        <strong>Commodity Prices</strong><br>
        <br>
        A striking feature of mid-2008 was the sharp price increases in commodities, particularly oil and shipping. This occurred <em>after</em> real estate markets rolled over, deep into the crisis.  <br>
        <br>
        We’ve often wondered if this was an unappreciated cause of the late 2008/early 2009 deterioration in the real economy, and subsequent leg down in asset prices.<br>
        <br>
        High oil prices are damaging. When prices rise, profits are concentrated in a handful of fiefdoms. When the price falls, however, the benefit is distributed widely. This effect is greatest where incomes are lowest, in emerging markets. Oil prices work like a highly regressive tax, a cost of doing business that hurts everyone when high.<br>
        <br>
        Oil is up nearly 50% on its 2017 lows. Something worth keeping an eye on.<br>
        <br>
        <strong>State of the market</strong><br>
        <br>
        This is the hottest market I can remember.<br>
        <br>
        <strong><img data-file-id="2667869" height="407" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/7c227b95-5a2c-490a-ae40-ee9eae6842e6.png" style="border: 0px;width: 600px;height: 407px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"></strong><br>
        <br>
        <strong>Running hot</strong><br>
        <br>
        Trump’s tax cuts have offered a welcome boost to profits and confidence. Employers are tying their investment plans to Republican tax policies, then announcing wage increases at the same time.<br>
        <br>
        Walmart announced plans to lift its base hourly wage by 10%, to US$11/hour. With 2.1 million employees, perhaps this is enough to move the needle on inflation, even for the US. <em>Expectations</em> of wage increases seem to be rising too.<br>
        <br>
        So we have increasing commodity prices from oil to gold, full US employment, a falling US dollar, and wage increases... Somewhat inflationary, no?<br>
        <br>
        And if inflation surprised to the upside, the Fed may raise rates faster than expected, one of the consistent causes of equity bear markets.<br>
        <br>
        Interest rates are behind everything in the market. They are the price of money and the core input in future value. A higher base rate affects every single asset price.<br>
        <br>
        Market sentiment is as bullish as I can remember. There is serious and widespread talk about a ‘melt up’. At some point this will run against the inevitable consequences of a hot economy: higher wages, higher prices, and rate rises.<br>
        <br>
        While keeping this in mind, we have retained the long bias in our long/short portfolio. The market can surprise in both directions, and it won’t do to focus on the downside risks.<br>
        <br>
        If global GDP growth remains at 4% for 2-3 years, and a short-biased portfolio would suffer immensely. And if a bout of inflation does occur, we expect the stock market to continue to rip upwards in nominal terms.<br>
        <br>
        Our VIX hedges should protect us from any <em>sudden</em> change in the market mood. We have calls struck at 15 representing over 20% of our portfolio. In 2016 the VIX spiked (briefly) above 50, but closed about 30. We estimate such a scenario would generate over 20% cash within days, with potential for much more. <br>
        <br>
        While the market looks overvalued on a wide range of measures – thank you Crescat for the chart below – our portfolio is weighted heavily towards high quality companies trading at a fraction of the market. Value and quality are the best protection in a market like this.  <br>
        <br>
        <img data-file-id="2667873" height="407" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/35460b61-87fb-4577-a39b-be54f4eef39f.png" style="border: 0px initial;width:600px;height: 700px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
        <br>
        Even with all this talk of valuation extremes, there are plenty of large companies trading at exceptionally cheap valuations, whether it’s Aegean Air at 1x, Fiat at 1.4x, or Samsung at 3x, all vastly lower than the S&P500 at 17x. We have plenty more.<br>
        <br>
        It’s fair to ask why are these stocks so cheap?<br>
        <br>
        Throughout this bull market, there are two scenarios involving cheap large cap stocks that we see again and again.<br>
        <br>
        The first is when sentiment is so extreme that the experts and insiders themselves are selling. We respect the fact we know <em>less</em> than any insider or export about any particular company or sector. But there is one aspect in which we aim to be world class: having a firm and independent understanding of value. This is our specialty.<br>
        <br>
        Our anchoring on value allows us to enter situations where insider-selling pushes valuations to record lows. Often, but not always, the factors causing the extreme sell-off lie in the past, while steps to fundamental and asset price recovery lie in the future. <br>
        <br>
        For two examples, our outsider’s perspective encouraged us to buy Brazilian equities (see our <a href="http://www.fraziscapitalpartners.com/jul17" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">July 17 letter</a>) in the midst of a political crisis at valuations lower than the US in 2009, when many Brazilians themselves were pulling money out of the market. And some of our finest performers have been the UK home builders we purchased in the days after Brexit, when the British capital class suffered a rare loss of nerve.<br>
         <br>
        The second common large-cap value scenario occurs when a company performs extremely well. So well, that it becomes <em>cheaper</em> as it becomes <em>better. </em><br>
        <br>
        This is why we studiously ignore stock prices, EPS and the like. Incorporating share counts into numbers is an unnecessary and often misleading layer of abstraction. Instead, we relate everything to enterprise value, market capitalization and actual profit, which allows opportunities to be compared across industries and geographies. We have absolutely no qualms about buying a stock that is up 50% if its operating performance has improved 200%.<br>
        <br>
        This was behind our investment in Fiat only last year, when we purchased the company at a market capitalization of ~14 billion euros, when it was making roughly 10 billion in operating cash flow. And in 2018 operating cash flow is likely to match to our initial purchase valuation. We are willing to trade the ranges of valuation multiples, but not market prices.  <br>
        <br>
        We are  confident that from here, the opportunity set can only improve.<br>
        <br>
        Best<br>
        Michael<br>
        <br>
    </p>
</div>