<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>

<div class='col-sm-5 people'>

<h1 style="text-align: center;display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;">GetSwift, Ripple and Soros</h1>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">GetSwift was the talk of town <em>before</em> they were pinged by the AFR for hiding information from the market.<br>
     <br>
    The firm offers a delivery app, and in 2017 motored to a $700 million value, on the back of a steady stream of contract announcements, with firms ranging from the local Red Rooster to Amazon.<br>
     <br>
    But many sensed something was up.  <br>
     <br>
    At first, GetSwift was given respect as a short idea.<br>
     <br>
    People did the calculations, and suggested the basic economics of their business didn’t fly, namely, that the amount of deliveries at 29c each they’d have to handle to justify their valuation.<br>
     <br>
    To pull A$100m in revenue and justify a A$700m valuation, that’s over 300 million deliveries, or close (enough) to a million a day. That’s a lot of restaurant deliveries.<br>
     <br>
    Soon enough, as GetSwift’s announcements became more and more optimistic and vague, the calculations disappeared in the face of common sense.<br>
     <br>
    Why on earth would Amazon outsource their last mile delivery technology?<br>
     <br>
    And if they did, why would they outsource to an unknown Aussie start-up with $300k revenue?<br>
     <br>
    Surely <em>any</em> client that started paying big enough bills would bring the capability in-house. <br>
     <br>
    Only a few short weeks ago in December, the company raised $100 million – I would guess from retail punters - at a time where, in some circles at least, the firm had already become a joke.<br>
     <br>
    (Though true blame can only lie with the people running the show. Their investors trusted them.)<br>
     <br>
    The firm’s list of client validators could be a case study in Robert Caldiani’s <em>Influence</em>. <br>
     <br>
    If a firm signs a serious enough deal it will be announced by <strong><em>both</em> </strong>sides. Amazon refused to confirm their relationship with GetSwift.<br>
     <br>
    There are plenty of retail punters out there who ‘invest’ off announcements. Many will now learn for the first time that announcements of new clients and contracts are only as good as the detail provided.<br>
     <br>
    GetSwift charmed this segment of the market to perfection.<br>
    <br>
    <img data-file-id="2650417" height="603" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/f55b68c6-36ee-4976-bf42-1844a5f5b58b.png" style="border: 0px;width: 600px;height: 603px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
     <a href="http://www.afr.com/business/banking-and-finance/hedge-funds/getswift-too-fast-for-its-own-good-20180116-h0ji3t" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">Original article</a> – very decent reporting from the AFR.<br>
    <br>
    Why was it so convincing?<br>
                              <br>
    Perhaps it was the CEO’s AFL background. Or perhaps it was that seductive allure of technology, the returns from which are so desired yet so elusive in the Australian market.<br>
     <br>
    Chasing small-cap momentum has been a winning strategy for so long that many in the market won’t remember a time where <em>CBA</em> needed the Government’s help to raise capital.<br>
     <br>
    Soros wrote, in his rarely imitated Hungarian-philosopher style, about the two-way relationship between prices and fundamentals.<br>
     <br>
    Financial analysts seem to study companies in greater and greater detail, trying to predict future prices , on often only the current fair value.<br>
     <br>
    Soros argued – and we agree – that market prices themselves affect the fundamentals.<br>
     <br>
    Companies seen to be kicking goals can raise the capital to actually achieve those goals, and leave plenty of equity for the founders to boot.<br>
     <br>
    In many cases, the prices shown in the market drive how the fundamentals change through time.<br>
     <br>
    Those reflexive dynamics are equally powerful in reverse.<br>
     <br>
    By spruiking their stock, GetSwift raised so much money they were in a strong position as any to build a lasting app.  <br>
     <br>
    But if this article was published four weeks ago, the firm’s capital raising wouldn’t have moved past the drawing board.  <br>
     <br>
    GetSwift IPO’d at 20c barely a year ago, and traded as high as $4.3. It traded at $2.97 on Friday, and is now in a trading halt.<br>
     <br>
    There seem to be many situations like this in the market right now. I can’t remember an atmosphere more congenial to this kind of play. GetSwift isn’t the only company at >100x revenue.<br>
     <br>
    Tesla is a great example of how selling a vision - and more importantly in this case, preselling a bunch of cars - opened financial markets, allowing them to raise debt and equity at such high prices that their vision becomes in reach. Personally I think raising debt was a huge mistake, but that’s an article for another day.<br>
     <br>
    Ripple, the cryptocurrency, is a more outrageous example, on a far grander scale than GetSwift.<br>
     <br>
    Soros’s reflexivity is a fine model for thinking about equity markets and how they interact with the rest of the world, through IPOs, capital raises, buyouts and so on. But it also sheds insight on currencies, and speculative mania of all kinds.<br>
     <br>
    Like GetSwift, Ripple's founders have mastered the art and timing of empty announcements, enthralling today's feisty crop of speculators.<br>
    <br>
    The details released tend to show that Ripple’s technology, rather than the use of their coin, is being considered. And there’s a vast chasm between how Ripple describes their technology, and how their clients refer to it.<br>
     <br>
    Like GetSwift, Ripple’s founders are audacious, reserving the vast majority of the coin supply to themselves, and are now some of the richest men in the world.<br>
     <br>
    The founder’s holdings were recently pegged at $76 billion.<br>
     <br>
    There are few markets where this kind of brazenness is rewarded. We are currently in one.<br>
     <br>
    As these schemes start to unwind, there’s a growing chance that they will tip the rest of the market.<br>
     <br>
    We are watching carefully.<br>
     <br>
    Michael<br>
    <br>

    <b>
    If you enjoyed this, please <a href="http://eepurl.com/bJc_c5" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">subscribe </a>for investment updates and analysis.</p>
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"></b>
</div>
