<div class="col-sm-5 people">
    <p id="home1">
        We run global, hedged, thematic investment strategies.<br>
    <p id="home1">
    <p>
</p>
    <div><img src="public/img/FrazisPerformanceApr18.png" id="home" class="img-responsive"></div>
    <a class='list-group-item' href='public/pdf/FrazisIntroMay18.pdf'>Fund Presentation</a>
</div>

