<div class="col-sm-8 people">
    <p id="home1">
        We run a global, hedged, thematic investment fund, open to wholesale investors.<br>
    <p id="home1">
    <p>
</p>
    <div><img src="/public/img/PerformanceJun18.png" id="home" class="img-responsive"></div>
</div>

