<div class="col-sm-6">
    <p id="home1">
        Frazis Capital Partners opened a private stategy to public investment on June 14 2016. As of April 2017, our discretionary strategy has realised an IRR of 31% over three years and three quarters.<br><br>
        The Fund holds a long-term portfolio of common-sense, high quality investments from around the world. We draw inspiration from the original 'hedge funds', and actively manage our downside (and upside) risk. <br><br>In similar fashion to those early pioneers, we intend to meaningfully increase our clients' wealth by many multiples. <br>
        <br>Frazis Fund One has a regulatory minimum investment of US$100,000. </p>
    <p id="home">Frazis Capital Partners Pty Ltd, the manager of Frazis Fund One Ltd, is a Corporate Authorised Representative (AFS Representative Number 001240825) of License Number 238198.</p>
    <p id="home">Please <a href="views/contact.handlebars">sign up</a> for regular insights and monthly updates.</p>
    <div><img src="img/FrazisPerformanceFeb17.PNG" id="home" class="img-responsive"></div>
    <p></p><br>

    <h5 class="contactdets">The manager can be contacted directly at michael@fraziscapitalpartners.com</h5>
</div>
</div>
