<div class="col-sm-5 people">
    <p id="home1">
        We run a global, equity-focused investment fund.<br>
    <p id="home1">
    <p>
</p>
        <a class='list-group-item' href='public/pdf/FrazisFeb18.pdf'>Frazis Fund Presentation</a>
    <div><img src="views/public/img/PerformanceFeb18.PNG" id="home" class="img-responsive"></div>
</div>
