<div class="col-sm-5 people">
    <p id="home1">
        We run a global, equity-focused investment fund.<br>
    <p id="home1">
    <p>
</p>
    <div><img src="public/img/PerformanceFeb18.PNG" id="home" class="img-responsive"></div>
    <a class='list-group-item' href='public/pdf/FrazisFeb18.pdf'>Fund Presentation</a>
</div>
s
