<style>
    #homet{
        background-color:lightblue  ;
    }
</style>

<div class="col-sm-5 people">
    <div><img src="public/img/performance21sep17.PNG" id="home" class="img-responsive"></div>
    <p id="home1">
        We run a global, equity-focused investment fund.<br>
    <p id="home1">Frazis Capital Partners Pty Ltd, the manager of Frazis Fund One Ltd, is a Corporate Authorised Representative (AFS Representative Number 001240825) of License Number 238198.</p>
    <p id="home1">Please <a href="views/contact.html">sign up</a> for regular insights and monthly updates.</p>
    <p></p><br>

    <h5 class="contactdets">The manager can be contacted directly at michael@fraziscapitalpartners.com</h5>
</div>
