<style>
    #investt{
        background-color:lightblue  ;
    }
</style>


<div class='col-sm-5 people'>
    <p id="home1">
        The Fund accepts investment from sophisticated investors only. Please direct all inquiries to the manager: michael@fraziscapitalpartners.com
</div>
</div>
