<style>
    #investt{
        background-color:lightblue  ;
    }
</style>


<div class='col-sm-5 people'>
    <p id="home1">
        The Fund accepts investment from sophisticated investors only. An individual investment form is available below. Please be aware our regulatory minimum is US$100,000.

    <br><a class='list-group-item' href='../public/pdf/december17applicationform.pdf'>Individual Investment Form</a><p></p>
</div>
</div>
