<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>



<div class='col-sm-5 people'>
    <ul class='list-group blog'>
        <h2> Latest Letter</h2>
        <a class='list-group-item' href='oct17' >November 2017: New investments in Australia.</a>


        <h2> Crypto</h2>
        <a class='list-group-item' href='crypto2' >CRYPTO #2 - Crypto Landscape and Ideas</a>
        <a class='list-group-item' href='crypto' >CRYPTO #1 - Supply and Demand</a>
        <h2>Ideas</h2>
        <a class='list-group-item' href='xero' >Getswift, Ripple and Soros</a>
        <a class='list-group-item' href='xero' >From Xero to Hero</a>
        <a class='list-group-item' href='https://seekingalpha.com/article/4059866-bluebird-bio-brilliant-science-platform-value'>Long thesis on bluebird bio</a>
        <a class='list-group-item' href='http://www.businessinsider.com.au/tesla-shareholder-shortseller-discuss-company-prospects-2015-12'>Business Insider interview on Tesla</a>
        <a class='list-group-item' href='../public/Tesla%20Interview.pdf'>Full answers to questions from Business Insider / SumZero</a>
        <a class='list-group-item' href='https://adamantic.wordpress.com/2015/10/28/valeantly/'>Short recommendation on Valeant Pharmaceuticals</a>
        <h2> Past Letters</h2>
        <a class='list-group-item' href='oct17' >October 2017: Aussie smallcaps and Afterpay.</a>
        <a class='list-group-item' href='sep17' >September 2017: Gaming Chinese growth.</a>
        <a class='list-group-item' href='aug17' >August 2017: A sad farewell and the barbarian at the gates.</a>
        <a class='list-group-item' href='jul17' >July 2017: Brazilian equities and Aegean Air.</a>
        <a class='list-group-item' href='jun17' >June 2017: Tech valuations and Wix, Paysafe and Wesfarmers.</a>
        <a class='list-group-item' href='../public/pdf/FrazisApr17.pdf'>April 2017: Hedging, Sears and Fiat.</a>
        <a class='list-group-item' href='../public/pdf/FrazisMarch17.pdf'>March 2017: Genetic Engineering and Elliott vs BHP. </a>
        <a class='list-group-item' href='../public/pdf/FrazisFebruary17.pdf'>February 2017: Crude, rates and market timing. </a>
        <a class='list-group-item' href='../public/pdf/FrazisJanuary2017.pdf'>January 2017: The Economic Consequences of Trump Tax. </a>
        <a class='list-group-item' href='../public/pdf/FrazisDecember16.pdf'>December 2016: Shifting Vol and Crash timing. </a>
        <a class='list-group-item' href='../public/pdf/FrazisNovember16.pdf'>November 2016: Trump, macro and Navios. </a>
        <a class='list-group-item' href='../public/pdf/FrazisOctober16.pdf'>October 2016: Shorts in GoPro, Pandora Media, and a macro repositioning. </a>
        <a class='list-group-item' href='../public/pdf/FrazisSeptember16.pdf'>September 2016: Deutsche, hedging and biotech rebalancing. </a>
        <a class='list-group-item' href='../public/pdf/FrazisAugust16.pdf'>August 2016: All about cash plus our favourite refiner. </a>
        <a class='list-group-item' href='../public/pdf/FrazisJuly16.pdf'>July 2016: Brexit, our first investments and the state of the market.</a>
        <br>
    </ul>
</div>
