<style>
    #investt{
        background-color:lightblue  ;
    }
</style>



    <p id="home1">
        The Fund accepts investment from sophisticated investors only. An individual investment form is available below. Please be aware our regulatory minimum is US$100,000.
        If you would like to invest through a trust, superannuation form or company, please contact the manager directly at <address id="address"><a href="mailto:michael@fraziscapitalpartners.com">
    michael@fraziscapitalpartners.com</a></address>.
    <br><a class='list-group-item' href='../public/pdf/individualinvestmentform.pdf'>Individual Investment Form</a><p></p>
