<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>

<div class='col-sm-5 people'>

<h1 style="text-align: center;display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;"><br>
    January 2018 Investment Update</h1>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"> <br>
     <br>
    Dear investors,<br>
    <br>
    The fund returned +13.2% net of fees and costs in January, the S&P500 returned 5.6% and the ASX200 returned -0.5%. You will be pleased to know we moved net short at the end of the month. <br>
    <br>
    <img data-file-id="2708761" height="370" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/361d2b8d-705e-4fe5-8585-928da3387513.png" style="border: 0px;width: 600px;height: 370px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    At the best of times, markets are two steps forward and one step back, so while it’s pleasing to report a solid return, it’s a handy time to remind ourselves that nothing (honest) in markets moves in a straight line.</p>
Having said that, this was a startling month. There was no dominant contributor, we simply reaped the harvest of investments made last year or the year before.<br>
<br>
We even returned 1.4%<strong> shorting</strong> the S&P500, during a month where it advanced more than 5%.<br>
<br>
<strong><img data-file-id="2708733" height="191" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/47519dad-3f96-4b7d-bc54-7f5aa63275c2.png" style="border: 0px;width: 600px;height: 191px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    Positioning</strong><br>
<br>
Towards the end of January, we moved to a net short position. Why? There were several reasons. Firstly, as discussed in December, the market mood was entirely one-sided. It’s not often you hear bearish commentators talk seriously about ‘melt-ups’. We took careful note. There were record speculative positions in short vol, crude and FX that invariably signal reversals.<br>
<br>
At the same time, we noted signs that inflation data was about to tick up, and with it, bond yields. This proved accurate. We are very aware that fundamental data around the world remains excellent. Contrary to usual expectations, this is typically a poor time to invest.<br>
<br>
What you want to capture is <em>the increase in value as market data and market expectations change.</em> With a broad mandate, we are able to position ourselves for those rare occasions that large swings in sentiment take place, in either direction.<br>
<br>
Even now, one’s instinct is to examine the data and draw conclusions. If only the future prediction game was that easy! <br>
<br>
Think of how far markets could fall if (when) the change in sentiment flows through to decision-makers, such as the CEOs who just saw their portfolios collapse in value and may now be reassessing their capital expenditure plans for the next year. <br>
<br>
There is plenty of room below.<br>
<br>
<strong>Strategy</strong><br>
<br>
Now seems a good time to talk about strategy.<br>
<br>
In a stylised model of some of the first generation of hedge funds, the fund's capital would be held in bonds. Interest rates were high. If the base rate was, say, 5%, each trader had 5% available each year to invest in stop losses, options and so on, with little risk to the fund's capital base. Any traders who exceeded their limits were quickly ‘stopped out’, irrespective of how long they had worked at the fund, or their prior performance. As brutal as it sounds, if perhaps more honest than subject performance reviews.<br>
<br>
This was good business for decades. They say the bond market surprises every generation once. And it certainly did when interest rates went first to zero, then, in swathes of the developed economy, <em>below</em> zero.<br>
<br>
Suddenly, for this style of fund, initial position sizes needed to be much smaller. Many famous operators of this model have avoided major losses over the past few years… at the cost of returning very little, particularly given the risks and fees involved.<br>
<br>
In contrast, our strategy involves buying equities with expected annual returns of over 25%, an ambitious target we have actually managed to outperform.<br>
<br>
This is the premium we have to invest in our highest conviction trades. This approach makes the fund hard to explain to prospective investors - easier to say you just buy equities for the long term – we believe, and our track record has shown, this will produce the best outcome for our existing investors.<br>
<br>
The only metric I track daily, and which you should use to measure our success, is the net IRR since inception – or net IRR since your investment.<br>
<br>
Whatever it may look like, we do not speculate wildly. Rather, we look for ways to use +25% equity premium to dramatically improve performance.<br>
<br>
Our positions in volatility markets and bets against the market can look aggressive – until you view them in the context of our portfolio. When markets rally, as they did in January, and in fact all last year, we expect our equity returns to cover any losses on the short side.<br>
<br>
One of our best trades has been shorting WTI crude, which we have done multiple times over approximately the same price range. This nicely balances our portfolio, and we have made money both investing in energy stocks, and shorting energy futures.<br>
<br>
<img data-file-id="2708737" height="288" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/5abef03a-7dff-4b08-9b2d-a1fe45589344.png" style="border: 0px;width: 600px;height: 288px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600">
<div style="text-align: center;"> </div>
<br>
With that in mind, this was a hedge we entered towards the end of the month:<br>
<br>
<img data-file-id="2708749" height="325" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/76f456ab-beeb-4802-bc19-cd51a3ec0814.png" style="border: 0px;width: 600px;height: 325px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
<br>
We entered this trade with a tight stop and realized around 9% of the fall. Even if you add the ~2.5% we lost last year on trades like this, in the broader context of our portfolio we achieved an excellent risk/reward. Most importantly, these trades are <strong>inversely </strong>correlated to the rest of our portfolio, which is heavily weighted towards large cap, high quality, value stocks.<br>
<br>
A holy grail of finance is to find investments with zero correlation. A fine example is catastrophe bonds, which pay out insurance when well-defined disasters occur.<br>
<br>
While interesting, we have always sought to find positive-returning <strong><em>negative</em></strong> correlation. Mathematically, such components together outperform each alone.<br>
<br>
So how risky was the trade in the chart above? In the worst-case scenario, our returns would have been temporarily reduced to our outperformance against the market. Given that we outperformed the S&P500 by 8% net in January alone, and we had very rare conviction that markets were exhibiting a blow-off top, this was an opportune time to add risk on the short side.<br>
<br>
On a portfolio basis, this trade <em>reduced </em>risk. And our maximum loss was a tiny fraction of the premium we expect to earn from the stock market this year. The worse case scenario here was that we reduced our to our outperformance vs the market.<br>
<br>
Every year that passes after a crash brings you closer to the next one. But most, be they Ray Dalio warning investors from cash at the recent top, or the ‘melt-up’ crowd, seem to become <em>more</em> confident the higher prices rise, and the longer the rally lasts.<br>
<br>
By nature, we are bullish. We are optimists. We believe markets will rise in accordance with the profits of their constituent companies – which is why we buy every dollar of earnings as cheaply as possible.<br>
But we believe there are extremely good reasons to be cautious right now. <br>
<br>
Our best bet is that we’re in the middle of a rare regime shift in markets. This doesn't happen often. Be assured we are watching closely.<br>
<br>
<strong>VIX</strong><br>
<br>
I can’t help but comment on recent moves in inverse volatility products, which I’ve been trading since 2011. If you saw a presentation of mine a couple of years ago, it would have shown my short XIV trade (XIV = VIX reversed, get it?), which is now all over the financial press after blowing up spectacularly.<br>
 <br>
<img data-file-id="2708741" height="208" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/d8bf2c65-c908-4ae3-9074-42bce45ac02f.png" style="border: 0px;width: 600px;height: 208px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600">
<div style="text-align: center;"><strong>XIV – an inverse VIX product</strong></div>
<br>
XIV has now been wound up, and it’s very sad to see such a familiar face go. Shorting XIV was a major driver of our returns in 2014, 2015 and 2016, often handing us money to invest in our best ideas, when the market was down heavily. These profits helped us make our best long-term investments from a position of strength. Rest in peace old friend.<br>
<br>
<strong>Other portfolio news</strong><br>
<br>
We finally invested in Samsung Electronics, as we alluded to last month. At a time where many are worrying about market valuations of 20x or more, we’re still able to find some of the largest and most famous companies in the world trading at 2.6x.<br>
<br>
There are always reasons not to invest. But the dominant factor behind our conviction is that a 3x increase in multiple would still leave Samsung as one of the cheapest mega-cap stocks around.<br>
<br>
This kind of thinking is why we bought Fiat at sub 2x EBITDA, and from the time of our purchase there has been over 10 billion euros of profit available.<br>
<br>
Due to the size of our fund, we were only able to capture a fraction of the profits on offer. We intend this to change in the future, and to capture larger and larger shares of these 10 billion profit opportunities.<br>
<br>
You may notice below that, in line with our macro view, we increased our direct shorts this month. <br>
<br>
<strong>Risk</strong><br>
<br>
Finally, some comments on risk. The hardest question we’ve received in investor meetings is the following: do we consider the fund high risk?<br>
<br>
The immediate answer is yes. We invest in a broad range of companies. We are often buying when insiders and experts are selling. We take risk in FX, credit, commodities and volatility. We have less information than almost anyone else, though we believe insight and focus is far more important. We sell stocks short and aim to be 100% invested in our best ideas, most of which are published in these letters. We’ll be the last to say we are a low-risk fund.<br>
<br>
But we truly believe that when markets turn for the worse, the more you have invested with us, the better.<br>
<br>
Best<br>
Michael<br>
<br>
If you were forwarded this article and found it interesting, please <a data-saferedirecturl="https://www.google.com/url?hl=en-GB&q=https://fraziscapitalpartners.us12.list-manage.com/track/click?u%3D08c26e5e46cf7c109889f7d9d%26id%3D33da2d32de%26e%3D3f15212149&source=gmail&ust=1518658222514000&usg=AFQjCNFEYNf5IehCDBDW6HyGtwRV-KL09A" href="https://fraziscapitalpartners.us12.list-manage.com/track/click?u=08c26e5e46cf7c109889f7d9d&id=33da2d32de&e=3f15212149" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">subscribe </a>for more.<br>
<br>

</div>