
<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>

<h1 style="text-align: center;">July 2017 Update</h1><br>



    <br><p>Dear investors,<br />
We returned 4.56% in July. The ASX 200 was roughly flat while the S&P500 was up 1.9%. Hedges detracted 1.1%.</p>
<img align="center" data-file-id="2276133" height="113" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/0f5260fe-d037-45dc-acd1-1c3a638619d7.png" style="border: 0px;width: 400px;height: 113px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"><br>
<br>
In July we entered two new positions: Aegean Airlines and Brazilian equities.<br>
<br>
We exited Alkane Resources, as management has proven unable to secure financing. With the banking prefeasibility complete, there’s no clear catalyst from here, save a sharp move in mineral prices. Since we don’t have a strong view on this, we will take a small profit and exit.<br>
<br>
As of mid August our FX exposure is split 39% AUD, 42% USD, 10% GBP and 9% EUR. We will start reporting this monthly.<br>
<br>
<strong>Long Brazilian equities</strong><br>
<br>
The two year recession in Brazil reminds us of how the commodity collapse was supposed to play out in Australia.<br>
<br>
Unemployment rushed from 5% in 2012 to 13% currently, with some 14 million people out of work.<br>
<br>
Australia survived as mining was always actually a small component of GDP (believe it or not) and our central bank kept interest rates low. Booming construction in the Eastern States and the floating currency comfortably counteracted the commodity crash. <br>
<br>
In contrast Brazilian central bankers had to deal with 10% inflation, and lifted the benchmark rate to over 14%.<br>
<br>
It’s hard to imagine from Sydney or London, but rates can and do go that high. <br>
<br>
We made small profits early in the life of the fund betting on a rebound in Brazilian equities, and decided to reenter the trade for the following reasons:<br>
<br>
Firstly<strong>, </strong>unemployment is trending down off a very high starting point. Unemployment tends to move in trends. The US unemployment chart was the most obvious bullish signal staring at everyone in the face the past five years.<br>
<br>
<img data-file-id="2276137" height="186" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/eb4648e6-4813-4563-8252-17ecd09ba456.png" style="border: 0px initial;width: 400px;height: 186px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"><br>
<br>
Secondly<strong>, </strong>the central bank has dropped the benchmark rate from over 14% to 9.25% currently. With inflation at 2.7%, there is a long way down. The 14% rate was perhaps too high.<br>
<br>
<img data-file-id="2276129" height="186" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/562cf558-c24d-467f-b934-9d8f584ce3c1.png" style="border: 0px;width: 400px;height: 186px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"><br>
There appears to be little reason to maintain such astronomical interest rates:<br>
<img data-file-id="2276149" height="186" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/caa5f969-bacc-48f0-b161-972768f12eb2.png" style="border: 0px;width: 400px;height: 186px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"><br>
<br>
And finally, the recession is over and GDP is recovering.<br>
<br>
<img data-file-id="2276125" height="186" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/44217505-ccf4-4b6b-b959-9786a91c1ea0.png" style="border: 0px;width: 400px;height: 186px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"><br>
<br>
We thus see a positive cycle of improving employment, significant rate cuts, and improving GDP. This should lift corporate revenues and profits to above the heights of last cycle. <br>
<br>
We are approaching the five year market of commodity down cycle, and we may be in the early stages of a new commodity cycle. This would do wonders for Brazilian equity indices. <br>
<br>
Brazil is trading on a cyclically-adjusted PE of around 10, suggesting considerable room for multiple expansion. <br>
<br>
<img data-file-id="2276157" height="243" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/01cebb7d-a8ec-402c-96ad-060da043e8a5.png" style="border: 0px;width: 400px;height: 243px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"><br>
<br>
There are risks here. A radical leftist could win power, or the cycle could turn once more. There are plenty of reasons to stay out of this trade. <br>
<br>
But we expect the big picture to outweigh the micro concerns.<br>
<br>
10x is a very cheap CAPE, well below where the US bottomed out in 2009. We have positioned the fund for a positive cycle of earnings upgrades and valuation increases will lead to outsize returns.<br>
<br>
<strong>Aegean Airlines</strong><br>
<br>
Olympic Air was originally set up as a luxury airline by Aristotle Onassis with planes replete with chefs from France and high fashion outfits for the crew. Anyone who flew Olympic in the last decade will know they strayed very far from these roots. After multiple restructures, Aegean - our new position - was finally allowed to purchase Olympic in 2013 and now holds a dominant position in the worst performing European economy. <br>
<br>
This is both a deep value and cyclical play.<br>
<br>
Aegean has a market capitalization of €582 million, and <em>net</em> cash of €206.5 million. The firm made €212 million EBITDA last year, and clears €64m of EBIT. So the stock trades at sub 2x EV EBITDA and EV/EBIT of sub 6x.<br>
<br>
Airlines are capital intensive, but the numbers are still impressive.<br>
<br>
The firm paid a dividend of 50 million euros for each of the last two years – a stunning financial outcome for the national airline of a country in depression. Management has clearly taken a distributive approach to capital.<br>
<br>
The largest shareholder, Theodore Vassilakis, owns 35%. Perhaps that has something to do with it. <br>
<br>
Greece is an attractive destination as ever, and turmoil in the Turkey, North Africa and the Middle East has ensured that the islands are as busy as ever. <br>
<br>
The charts below show the strong growth on display by Aegean – as well as the cyclical risks that caused falling revenues and negative margins 5-8 years ago.<br>
<br>
 <br>
<img data-file-id="2276117" height="174" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/e70f431d-f3ba-4932-844c-c0dc3fb628b8.png" style="border: 0px initial;width: 600px;height: 174px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
<img data-file-id="2276113" height="75" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/82e57404-b610-45a7-85c7-52d9ebe4882a.png" style="border: 0px;width: 250px;height: 75px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="250"><br>
<br>
<img data-file-id="2276153" height="217" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/2e480854-3084-4013-9ae6-7d8e9a97590b.png" style="border: 0px;width: 400px;height: 217px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"><br>
<br>
<img data-file-id="2276121" height="201" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/b4b17ae2-9e79-4d93-a45d-84e4be96abdc.png" style="border: 0px;width: 400px;height: 201px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"><br>
<br>
<br clear="all">
Much of Aegean’s business is discretionary leisure and is exposed to a global downturn. <br>
<br>
But we are deep believers in the business cycle, and one day even Greece will show economic surprises on the upside. This is the tailwind we hope to catch over the coming years.<br>
<br>
<strong>Macro and outlook</strong><br>
<br clear="ALL">
The rally in 2017 has been largely due to valuation.  The chart below tells the story.<br>
<br>
<img data-file-id="2276145" height="340" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/ce55aa65-f68b-4c5a-9131-22faf46fcc75.png" style="border: 0px;width: 500px;height: 340px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="500"><br>
<br>
We are clearly late cycle and this is informing everything we do.<br>
<br>
This part of the cycle may last for years, so we will continue to:
<ol style="list-style-type:lower-alpha;">
    <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">stay fully invested in our best ideas, as the final stages will involve significant movements, and:</li>
    <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">maintain our hedging program, so when the cycle turns we are in a position of strength with cash to invest.</li>
</ol>

<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">A quick analysis shows that every time the S&P500 valuation crept above 14x since 1998, returns over the following two years were negative. While it wouldn’t do to read too much into this kind of anecdote, we are currently at ~14.5x.<br>
    <br>
    All the very best<br>
    Mike<br>
    <br>
    <img data-file-id="2276141" height="428" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/a40ebc1f-b67f-46bc-a25b-7329d51aa17d.png" style="border: 0px;width: 250px;height: 428px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="250"><br>
    <br>
    <img data-file-id="2276173" height="316" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/7f1910e4-f41e-4b03-8a83-8d00113c9cb8.png" style="border: 0px;width: 500px;height: 316px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="500"></p>

