<style>
    #jun17t{
        background-color:lightblue;
    }
</style>

<div class='col-sm-5 people'>
    <h1 style="text-align: center;">June 2017: Tech valuations, Wix, Wesfarmers and Paysafe</h1>
    <p>We dropped 0.2% in June. This brings our twelve month performance to +13% net, however most capital was added in the second half of the year so we will hold the celebrations.&nbsp;</p>

    <p>Our hedges have detracted 9% over the year &ndash; almost all in the second half - and turned a decent result into something far more modest. We have clearly been too bearish.</p>

    <p>In June our hedges were the largest detractor once again, contributing -0.9%. The difficult decision to dramatically reduce these a few weeks ago has paid off so far. We closed the month at roughly +65% net equity exposure and fared far better in July.<br />
        <br />
        <img data-file-id="2231209" height="164" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/53379f23-1327-40fa-b44b-aa38a2fa6167.png" style="border: 0px  ; width: 600px; height: 164px; margin: 0px;" width="600" /></p>

    <p><strong>Positioning&nbsp;</strong></p>

    <p>I wrote recently about the speculative frenzy in cryptocoins, and was curious as to whether the turmoil would spill into larger markets. After a hiccup in the Nasdaq 100, markets have ground up to new highs.</p>

    <p>As with most indices, a handful of stocks make up the bulk of the Nasdaq. A quick look at the largest constituents shows that valuations seem low, if anything. There is more to be concerned about in the S&amp;P500. Going through the Nasdaq 100:</p>

    <p><strong>Apple </strong>comprises 12% of the index and is a 2.5% position in the fund. Apple is trading on a sub 2018 EV EBITDA of 9.6x (when this was written in mid July). With a new phone coming out &ndash; and many skipping the previous upgrade &ndash; the firm could easily outperform these modest expectations.&nbsp;</p>

    <p>9% of the index is <strong>Google</strong>. Google is also trading on a 2018 EV EBITDA of around 10.9 - surprisingly low, given&nbsp;Google&rsquo;s dominance in search and 20% top-line growth rate. Google seems to be attracting increasing attention from&nbsp;regulators, and&nbsp;traffic acquisition costs have increased.<br />
        <br />
        US regulators tend to focus on price, and in doing so throw a free pass to tech companies that give away products for free, like Facebook and Google.&nbsp;&nbsp;In Europe regulators take a more holistic view of competition. It&#39;s clear that the immense (if mostly unintentional) political power of these entities bears close scrutiny.</p>

    <p>Google has taken full advantage of various tax loopholes, as have the other firms. Most investors, and certainly management, seem to expect a tax holiday where they can repatriate their cash to the US.<br />
        <br />
        We wouldn&rsquo;t be surprised if this never happened, but even so Google remains a good bet - whatever shape technology takes over the next decade, search will almost certainly be a part of it. The biggest threat&nbsp;to Google&rsquo;s position in search is probably Amazon. <strong>Baidu </strong>has had a solid run (circa 5% position in the fund) and we are actively considering switching the position to Google, given that it&#39;s now valued far lower.&nbsp;</p>

    <p>Google sucks margin out of almost every profitable product sold on the internet. If a $60 widget costs $20 to make, the optimal strategy remains to spend almost everything up to $40 per unit on google AdWords to drive sales and total profits. This dynamic will remain in place for some time.</p>

    <p>Moving down the index, 8% is in <strong>Microsoft</strong>, which has made great strides towards the cloud and can now make&nbsp;a very decent laptop (I&rsquo;m typing on one now). Microsoft&rsquo;s Surface products were given a boost by Apple&rsquo;s disdainful decision to remove USB ports. Microsoft&rsquo;s 2018 EV EBITDA multiple is 12x, so somewhat higher. The mid-term risk here is low, and Microsoft can be expected to grind out growth for quite some time.</p>

    <p>These three companies alone make up 29% of the Nasdaq, and so far, everything looks quite cheap and reasonable.&nbsp;</p>

    <p>Next up is <strong>Amazon </strong>at 7%, at a forward EV EBITDA of 20x. This is lower than I can ever remember. Top line growth is pretty consistent in the 20-25% range. While Amazon Web Services, responsible for at least one of the recent surges in price, is facing real competition for the first time, from Google, Microsoft and others, Amazon&rsquo;s approach to data seems unbeatable right now, given the sheer volume of user data they&rsquo;ve accumulated.<br />
        <br />
        Everyone who logs on to Amazon sees a different, fully customized home page that is constantly iterated and improved. It&rsquo;s amazing how many online stores still show the same thing to every customer. Amazon Prime has a remorseless momentum of its own.<br />
        <br />
        Once you&rsquo;re on you feel obliged to make it worthwhile (trust me Australians reading this). No other firm currently has the infrastructure to offer the same product. I would only ever own Amazon by owning the index, however. If you want to see a bullish take <a href="https://www.l2inc.com/daily-insights/scott-galloway-is-amazon-good-for-society">watch this.</a></p>

    <p>Below that comes <strong>Facebook </strong>at just shy of 6% of the index to bring these names up to 42%. Facebook trades at 15x forward EV/EBITDA with growth of 25% a reasonable guess for the next two years. The issues here are ad load &ndash; Facebook is saturated &ndash; and changing tastes. Zuckerberg has stayed ahead of this curve through deal-making. Instagram may turn out to be one of the best deals ever made.</p>

    <p>It&rsquo;s a shame these companies pay so little tax and don&#39;t employ more.&nbsp;</p>

    <p>Comcast, Intel and Cisco add another 7.5%, and with Amgen and Celgene round out 50. It doesn&#39;t take long to form a view of the direction of the index from its largest constiuents.</p>

    <p>The beauty of indexes is that if&nbsp;any of the constituents above are pipped by one of the others, or someone new, the index will almost certainly capture that uplift.<br />
        <br />
        It&rsquo;s reasonable for the top search engine to be about 10% of the market, the luxury hardware producer to be over 10%, the first stop for business software to be worth ~10%... no matter who wins these particular races, they will grow into the space. This wouldn&rsquo;t hold if say, a challenger listed only in Europe dominated a space, but that would be a rare occurrence indeed.</p>

    <p>To compare a some flagship names from the S&amp;P500,&nbsp;Coca-Cola is trading at 19x forward EV EBITDA and McDonalds is trading at 15x, both with negative growth for the next two years.&nbsp;<br />
        <br />
        In a brief tech sell-off in July we added Nasdaq 100 exposure directly through our volatility strategy.</p>

    <p><strong>Portfolio: Paysafe, Wix, Wesfarmers short</strong></p>

    <p>We added to our position in Paysafe. This has since been subject to a takeover offer at just under 20% of our average purchase price. We will exit this shortly and invest the proceeds in other positions.&nbsp;</p>

    <p><strong>New short in Wesfarmers</strong></p>

    <p>Wesfarmers has often seemed incongruent: a conglomerate of Aussie discount retail and coal trading strongly. The firm has 4,000 bricks and mortar stores. Coles will face tough competition from above and below: the German discounters Aldi and Lidl on price, and from Woolworths on quality.</p>

    <p>With at best modest growth, Wesfarmer&#39;s 2 billion of free cash flow stacks up poorly to an enterprise value of over $50 billion. The upside here seems quite limited, though a sharp move in energy and coal prices would move the needle against us. For reasons discussed in previous letters we think this unlikely.</p>

    <p><strong>We initiated a long position in Wix. </strong></p>

    <p>Websites like Wix are the future of the internet. Coding up a website is quite involved &ndash; shopping carts, payments, customer logins and authorizations&hellip; even with modern technologies these things&nbsp;are difficult.</p>

    <p>Wix (and competitors like Shopify, which trades at 2.5x the valuation on similar growth) makes all these things straightforward and orders of magnitude faster and cheaper to set up. The components described above can be implemented via &lsquo;drop-and-click&rsquo; and are automatically wired up.</p>

    <p>Revenue is growing at 51% year on year, with about 30% coming from new users and the rest from price increases. The firm is cash flow positive and posts negative churn &ndash; meaning that without marketing they would have net user growth (this calculation is from Wix).</p>

    <p>When Wix acquires a customer, after an initial drop as online shops go out of business, customers tend to be quite sticky. Forecast collections from existing customers are $2.1 billion over the next five years, assuming a historic level of stickiness. This doesn&rsquo;t include customers acquired over that period.</p>

    <p>Wix has similar numbers to Xero. Both are valued at about $3 billion and are growing their top line at 50%. Both are cash flow positive, and can generate multiples on every marketing dollar spent.</p>

    <p>Within 2-3 years, both should be posting revenues in the billions, and analysts currently assume that growth for both will contract rapidly. Financial analysts generally assume growth rates revert to mean, which is why there is an opportunity in growth stocks with long runways. Our view is that these growth rates are sustainable well into the 2020s, which is how long we expect to own the shares.&nbsp;</p>

    <p>Wix has reported since the end of June and dropped slightly. Earnings were below expectations but revenue growth was higher, so we added 10% to the position to lift it to 3% of the portfolio.<br />
        <br />
        Our positioning in tech assisted our performance in July considerably.&nbsp;<br />        <p><img src="../public/img/jun17/j1.png" class ='img-responsive'></p>
    <p><img src="../public/img/jun17/j3.png" class ='img-responsive'></p>
    <p><img src="../public/img/jun17/j4.PNG" class ='img-responsive' id="imgmonthly2"></p>

    <footer class='footer footerdiv'></footer>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- My code -->
    <script src='../public/code.js'></script>



    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71235758-1', 'auto');
        ga('send', 'pageview');

    </script>
