<style>
  #insightt{
    background-color:lightblue  ;
  }
</style>

<div class='col-sm-5 people'>

  <h1 style="text-align: center;display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;"><br>
    June 2018</h1>
  <br>

  <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"><br>
    Dear investors and well-wishers,<br>
    <br>
    <strong>June Performance</strong><br>
    <br>
    The fund dropped 5.1%, equating to a 3% drop in AUD. <br>
    <br>
    While disappointing, over the past 12 months the fund has returned 25% net, vs the S&P 500 total return at 14%. <br>
    <br>
    Much of the June drawdown can be attributed to pullbacks in our better performing investments, and months like this are an unfortunate but unavoidable part of investing. Be assured we are closely re-examining each investment. <br>
    <br>
    <img data-file-id="3261465" height="111" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/0cc1258c-0f0e-41f2-8661-a8de116e2257.png" style="border: 0px;width: 500px;height: 111px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="500"><br>
    <br>
    Fiat and bluebird bio, for example, performed well over the past twelve months, but have retraced significantly off their highs. <br>
    <br>
    <img data-file-id="3259141" height="354" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/68be884d-4d93-4bb3-98d1-576c6d73dca8.png" style="border: 0px;width: 600px;height: 354px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    This month marks five years since we began managing funds with our strategy (first three years with private capital), as well as the end of Fund One and the launch of our new Australian fund. <br>
    <br>
    We would have liked to have ended on a high note, but as we move into a new phase of the business, this was a handy reminder that even at the best of times, markets are two steps forward and one step back. <br>
    <br>
    <img data-file-id="3259129" height="357" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/5e2240f3-bd7b-4f95-8086-415389739e4f.png" style="border: 0px;width: 600px;height: 357px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <em>Please note that these are gross returns, before fees and costs, and past performance is no guarantee of future performance. </em><br>
    <br>
    We have been happy to generate positive returns for all investors in Fund One. Now we are singly focused on finding the new investments that will drive returns over the next few years. <br>
    <br>
    We were somewhat wrong-footed in June, as by nature we are global. We don't own defensive, low return stocks, and rely on our hedging overlay to manage risk.<br>
    <br>
    For better or (certainly this time) worse, most of the hedging overlay is in the US. Talk of US tariffs and trade wars triggered significant falls around the world, but over the course of June US markets actually rallied.<br>
    <br>
    This was most likely due to strong late-cycle US economic fundamentals, but perhaps also as any tariffs should have some mitigating effects for US companies. So both sides of our strategy fared poorly this month.<br>
    <br>
    Fortunately, the fundamentals of our companies remain solid, and this pull-back represents a multiple contraction down to lows, rather than a permanent destruction of value. <br>
    <br>
    An example is our Brexit purchase of UK land builders. Both fell about 15% during the month, detracting 0.6% from the fund:<br>
    <br>
    <img data-file-id="3259125" height="352" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/0db4f7e0-9959-4dd3-8970-738878ffe6ee.png" style="border: 0px;width: 600px;height: 352px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    However, even after the June pull-back, they have been strong performers since purchase:<br>
    <img data-file-id="3259137" height="345" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/85564e1c-10bf-4fc3-9ae8-9d36c0f61393.png" style="border: 0px;width: 600px;height: 345px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    The return can be broken down into change in multiple and change in earnings. EBITDA multiples tend to trade in ranges, as shown by the dark green line below. The valuation for Berkeley is actually <em>lower </em>than when we purchased in June 2016. However, due to the strong fundamental performance of the business itself, the stock itself (grey line) has returned over 60%. <br>
    <img data-file-id="3259121" height="351" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/f1dcc7d8-86da-4491-904f-74f69e1a0dc0.png" style="border: 0px;width: 600px;height: 351px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    As long as the firm continues creating value, the next time the valuation trades at the top of the range, the dividend-adjusted stock price will certainly be at new highs.<br>
    <br>
    During months like these, we spend our time scrutinising the underlying businesses to ensure they are creating value, irrespective of where their prices are moving. <br>
    <br>
    It's tempting to consider whether we should have trimmed holdings in some of our better performers to reduce the impact of such pullbacks, but the data from the past two years confirms what we know from experience - that the safest way to secure long-term returns is with a steady hand and a long-term outlook. <br>
    <br>
    We are always looking for ways to improve performance, so will be focusing on reducing turnover in the portfolio, which has the added benefit of lower transaction costs and lower taxation for Australian investors.<br>
    <br>
    <strong>State of the market</strong><br>
    <br>
    One thing that all investors should keep top of mind right now is that there are a large number of companies who have increased earnings by 30-50% over the past two years, but seen their share prices appreciate 2x, 3x or more.  <br>
    <br>
    Some of this may be due to the nature of the asset management industry. The managers who owned the correct Australian stocks have attracted considerable capital over the past two years, and had to invest those monthly inflows into their portfolio companies. Naturally, this activity drives up the prices of those same stocks. I feel obliged to note it can be best to invest in performing fund managers early, ahead of these flows. <br>
    <br>
    We own two companies that fit this description, Xero and Afterpay. However there are important differences that give us sustained conviction in these positions, despite the sketchy late-cycle backdrop.<br>
    <br>
    Firstly, Afterpay is growing at over 250% year-on-year. This is materially different to a company growing at 25%-35% per year, where many growth stocks land. See our original letter <a href="http://www.fraziscapitalpartners.com/oct17" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">here</a>. <br>
    <br>
    Secondly, we have high conviction that Xero's revenue is sticky, and new customers added each quarter add considerable Lifetime Value. On this metric, Xero actually looks cheap, as each customer they win represents far more value than the month-to-month increase in revenue. <br>
    <br>
    As we closed the fund at the end of the month there are no positions to report, but if you would like information on the new portfolio please do get in touch.<br>
    <br>
    Best wishes</p>

  <div style="text-align: left;">Michael
    <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">----------------------------------------------------------------------------------------------------------<br>
      <br>
      <strong>Disclaimer</strong><br>
      <br>
      The contents of this document are communicated by, and the property of, Frazis Capital Partners. Frazis Capital Partners Pty Ltd is a Corporate Authorised Representative (CAR No. 1263393) of Lanterne Strategic Investors Pty Ltd (AFSL No. 238198).<br>
       <br>
      The information and opinions contained in this document are subject to updating and verification and may be subject to amendment. No representation, warranty, or undertaking, express or limited, is given as to the accuracy or completeness of the information or opinions contained in this document by Frazis Capital Partners or its directors. No liability is accepted by such persons for the accuracy or completeness of any information or opinions. As such, no reliance may be placed for any purpose on the information and opinions contained in this document. The information contained in this document is strictly confidential.<br>
       <br>
      The value of investments and any income generated may go down as well as up and is not guaranteed. Past performance is not necessarily a guide to future performance. </p>
  </div>

</div>
