<style>
  #insightt{
    background-color:lightblue  ;
  }
</style>

<div class='col-sm-5 people'>

  <h1 style="text-align: center;display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;"><br>
    Brazil and Two New Themes</h1>
  <br>


  <strong>May Performance</strong><br>
  <br>
  The fund advanced 1.0% net of fees and costs. The ASX 200 added 2.8% and the S&P500 advanced 2.0%.<br>
  <br>
  <strong><img data-file-id="3185757" height="157" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/5877a945-1d78-4c5d-af84-0f4834b67fef.png" style="border: 0px;width: 500px;height: 157px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="500"><br>
    <img data-file-id="3185761" height="400" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/8bfda96e-eb47-421f-ba5e-56ba7a351a67.png" style="border: 0px;width: 600px;height: 400px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    State of the Market</strong><br>
  <br>
  Brazil detracted 1.3%, and the sell-off continued in June.<br>
  <br>
  Truck drivers went on strike across the nation for ten days, causing some 64 million chickens to starve to death, and the USD-denominated index to drop nearly 20%. A 0.8% hit to GDP, according to the Economist. <br>
  <br>
  We <a href="http://www.fraziscapitalpartners.com/jul17" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">invested on a view</a> that interest rates would fall from 14%, and the recovering economy would lead to rising employment, corporate profits, and a return of stock market valuations to mean.<br>
  <br>
  The sell-off was all the more unusual as it coincided with high oil prices – typically good for Brazilian equities, given that Petrobras, with its giant offshore oil fields, consists of nearly 10% of the index.<br>
  Indeed, everything was going to plan until the strike.<br>
  <br>
  <img data-file-id="3185769" height="352" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/2d4cc6b8-c102-4461-b053-e4085df78454.png" style="border: 0px;width: 600px;height: 352px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
  <br>
  This time, ofcourse, it was high oil prices themselves that caused the crisis. The average Brazilian spends far more on petrol than they own shares of Petrobras, and the political situation turned accordingly. Michael Temer, the reformist PM, was forced to reinstate fuel subsidies to ease the crisis.<br>
  <br>
  While the Government insists otherwise, the cost is likely to fall largely on Petrobras, one way or another.<br>
  <br>
  The conventional view is that fuel subsidies are bad economics, but we see it as a progressive tax break, so actually supportive of our view of a long term recovery. Far better for cash to be in the hands of the poor, who spend it, rather than hoarded by the state or the wealthy.   <br>
  <br>
  Utilizing our broad mandate, we both increased our position, and purchased options to hedge it entirely.<br>
  <br>
  <strong>Emerging Markets</strong><br>
  <br>
  <img data-file-id="3185777" height="396" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/6dea0dbd-64cb-4d90-b702-07f58134e445.png" style="border: 0px;width: 600px;height: 396px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
  <br>
  Brazil hosted only one of many emerging market sell-offs that seem to have reached a crescendo in the last few days. Each has its own set of causes, but our view is that all are linked to the rising US dollar, which is itself driven by rising US rates.<br>
  <br>
  Most of the time, marginal investment flows out of the United States towards higher-yielding and greater return opportunities elsewhere.<br>
  <br>
  With short-term Government-guaranteed US rates above 2%, that flow has decisively reversed, and coincided with all these stock market falls.<br>
  <br>
  This was something of a mistake, as we had a strong view that rising US rates would lead to a higher US dollar, and while we did increase our USD exposure, we failed to hedge the Brazilian component. We consider it critical to ensure our macro views are reflected in our portfolio, and will be sure to do this better next time.<br>
  <br>
  We are nine years into a bull market, tariffs are rising around the world, the interest rate cycle has decisively moved upwards in the United States, and the European Central Bank is about to end its bond-buying policies.<br>
  <br>
  The market is proving highly resilient to these moves – but all these factors will add up. And with macro statistics so good – low unemployment and so on, there is plenty of room for them to reverse.  <br>
  <br>
  <strong>Golden Age of Innovation</strong><br>
  <br>
  Ofcourse, our cyclical concerns are being handily outweighed by the extraordinary times we’re living in. It’s easy to forget that we’re in the middle of a technological Renaissance, not least due to the enormous investment the US tech giants are currently making in R&D:</p>

  <div style="text-align: center;"><img data-file-id="3185773" height="173" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/382160e2-e2b4-4133-a5d3-e0e22f5fa5aa.png" style="border: 0px;width: 264px;height: 173px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="264"><br>
     </div>

  <div style="text-align: left;">Incurable diseases are steadily yielding to science, and survival rates for cancer and so on are edging ever upwards.<br>
    <br>
    If anything, we wish our portfolio companies would invest more, and worry about dividends less. We are increasingly investing more in companies willing to make long-term investments in innovation.  <br>
    <br>
    <strong>Two new themes</strong><br>
    <br>
    1) There has been a complete paradigm shift in the scientific approach to aging, with reputable centers of research being established around the world and attracting funding. Once seen as an odd niche, there are some highly promising approaches.<br>
    <br>
    There are hundreds of billions of dollars spent each year on anti-aging products, and they don’t even work.<br>
    <br>
    Imagine the riches on offer to a firm that could offer an anti-aging pill, taken once daily, for decades longer than a usual lifespan.<br>
    <br>
    Aging is not a problem you can attack directly, given that it is not conventionally considered a disease. Unlike medical treatments, there's no clear path to approval, and the necessary double-blind studies would take too long for practical investment.<br>
    <br>
    Moreover, patent protection would run out on a new drug before the evidence was strong enough to justify widespread use.<br>
    <br>
    This is a problem with all long-term treatments that needs to be addressed: if a 20 year patent is issued for a drug that takes 20 years to prove, then that patent is worthless. <br>
    <br>
    But things change, and we are working on some actionable listed ideas in the space that are wisely attacking the problem from the side. <br>
    <br>
    2) The second theme we’re investigating is an ‘old’ one: smartphones.<br>
    <br>
    Smartphone sales are actually shrinking around the globe at the moment, as quality improves, and new phones rely on increasingly irrelevant new selling points. However, our best guess is that the next upgrade cycle will be enormous, triggered by the arrival of 5G, which is precisely the sort of selling point that would get people queuing up outside Apple stores. <br>
    <br>
    We made solid returns investing in smartphone companies ahead of previous upgrade cycles, and we are doing the groundwork now, in both obvious names and some you may not have heard of.<br>
    <br>
    We may be early, but the fund will be very well positioned if this thesis plays out.<br>
    <br>
    <strong>New Fund</strong><br>
    <br>
    Our new Australian AUD fund will launch on the 1<sup>st</sup> of July.<br>
    <br>
    We are still offering discounts of 50% to anyone who commits more than A$500k before launch, so please get in touch if you want further information. <br>
    <br>
    Best wishes<br>
    Michael<br>
    <br>
    <br>
    If you were forwarded this you can subscribe to our updates <a href="https://fraziscapitalpartners.us12.list-manage.com/track/click?u=08c26e5e46cf7c109889f7d9d&id=73955b9a4a&e=8b7c8d7459" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">here</a>, and all our past letters can be found <a href="http://www.fraziscapitalpartners.com/investorletters" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">here</a>. <br>
    <br>
    Note - the new fund has a minimum of A$50k for wholesale investors. Wholesale investors are those who have earned more than A$250k over the past two years, or have net assets of over A$2.5 million, <br>
    <br>
    <img data-file-id="3185813" height="605" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/5710c7d8-7684-4a33-8e64-7eb445a107ab.png" style="border: 0px;width: 220px;height: 605px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="220"><br>
     
    <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">----------------------------------------------------------------------------------------------------------<br>
      <br>
      <strong>Disclaimer</strong><br>
      <br>
      The contents of this document are communicated by, and the property of, Frazis Capital Partners. Frazis Capital Partners Pty Ltd is a Corporate Authorised Representative (CAR No. 1263393) of Lanterne Strategic Investors Pty Ltd (AFSL No. 238198).<br>
       <br>
      The information and opinions contained in this document are subject to updating and verification and may be subject to amendment. No representation, warranty, or undertaking, express or limited, is given as to the accuracy or completeness of the information or opinions contained in this document by Frazis Capital Partners or its directors. No liability is accepted by such persons for the accuracy or completeness of any information or opinions. As such, no reliance may be placed for any purpose on the information and opinions contained in this document. The information contained in this document is strictly confidential.<br>
       <br>
      The value of investments and any income generated may go down as well as up and is not guaranteed. Past performance is not necessarily a guide to future performance.</p>
  </div>

</div>
