<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>

<div class='col-sm-5 people'>
    <h1 style="text-align: center;">October 2017: Aussie smallcaps and Afterpay</h1>

    <br>
    The Fund returned +1.4% in October. The S&P500 returned 2.3% and the ASX200 returned 4.0%.<br>
    <br>
    <img data-file-id="2517793" height="156" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/0274a3ef-fecd-4b74-b3f4-203a831829b5.png" style="border: 0px;width: 600px;height: 156px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    We have a new fund presentation available <a href="http://www.fraziscapitalpartners.com/public/pdf/FrazisIntroNov17.pdf" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #2BAADF;font-weight: normal;text-decoration: underline;">here</a>.<br>
    <br>
    <strong>Portfolio</strong><br>
    Australian small caps are in a ripping bull market. There are 85 ASX-listed companies on market capitalisations over $100 million with less than $1 million of revenue.<br>
    <br>
    Our three best performers this month were Aussie small caps, but be assured they're posting substantially more revenue than that! Given the bullishness in the sector, caution is the order of the day.<br>
    <br>
    We gave a lot of thought to our exposure. At one point, rallies in Xero, Afterpay and Appen took our small cap exposure well over 15%. This has since been reduced – and we currently hold 4.9% in Afterpay and 6.7% in Xero, with entry weightings of 4.1% and 5.4% respectively. <br>
    <br>
    Our returns have largely come from high-quality, thematic globally-significant companies trading cheaply, which tend to fit well with our hedging strategy. But we’ll always pursue the best opportunities we can find, and these Aussie tech companies certainly fit the profile we’re looking for.<br>
    <br>
    Mindful of the growing heat in the Aussie small cap market, we sold out of Appen. The valuation had run over $700 million, which on earnings of $19 million seemed a little ahead of itself.<br>
    <br>
    We first purchased at $3.77 and sold our last shares at $6.45, which was propitious as we ticked the mid-term top. Appen contributed ~280bps to the fund's performance, and if someone wants to pay a valuation many years ahead of where a portfolio company is now, we will happily trade those shares for cash, and be there to support the company if/when the market winds turn and the share price falls back down.  </p>

    <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"><br>
        <img data-file-id="2517797" height="376" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/064b076d-a66c-4281-8fe0-78f02960fc77.png" style="border: 0px initial;width: 450px;height: 376px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="450"><br>
        <br>
        Xero reported earnings, and it was disappointing to see growth slow to 37%. New Zealand investors were probably miffed about the announced delisting, requiring them to sell out or risk high exchange fees and complexity.<br>
        <br>
        Personally, we would have preferred they listed on the Nasdaq, with all the publicity that entails, and focused more on the United States.<br>
        <br>
        Despite these minor disappointments, we believe the recurring nature of Xero's revenue, the value of their data and the enormous and growing market for cloud accounting all justify our position.<br>
        <br>
        <strong>Afterpay</strong><br>
        <br>
        We’ve been aware of Afterpay for a long time. The firm was founded in Sydney, and I’ve met some of the people behind it socially.<br>
        <br>
        When the firm IPO’d we took our first look at the financials, and let our skepticism get the better of us. The firm listed at a valuation of $165 million, with only $220,000 of revenue. Truly a market for small caps!<br>
        <br>
        The business model is simple –merchants add Afterpay to their websites, and consumers then pay for their purchases over four fortnights. Afterpay pays the merchant immediately and receives the funds from the customer in four instalments.<br>
        <br>
        Afterpay charges the merchant 4.1% on average - but not the customer, who receives free credit. This is convenient, as it affects Afterpya's regulatory definition. <br>
        <br>
        When we first became aware of the story, taking 100% of consumer credit risk for a 4% fee seemed a very risky proposition.<br>
        <br>
        We also thought it tough to convince a retailer to offer 4% of their margin to a payments provider, especially as the retail environment is not exactly great right now!<br>
        <br>
        These two lines of thinking kept us out of the stock – what changed?  <br>
        <br>
        Firstly, revenue is now at a $60 million run rate and Afterpay has ~1.3 million customers, accounting for 5% of online retail spend in Australia. This is now a business of relevance.  <br>
        <br>
        Secondly, the credit risk is more manageable than we first thought, as the loans are demonstrably:</p>

    <ol>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Small, averaging around $150; and</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Short-term, about 30 days</li>
    </ol>
    In effect, Afterpay is earning 4% gross for 30 day credit risk.<br>
    <br>
    Annualise that, and Afterpay has a much higher gross interest rate than a credit card, for arguably far less risk. <br>
     <br>
    Credit cards are an appropriate comparison, as credit card debts are both large and long term, not to mention extremely expensive, as opposed to free for the consumer, as with Afterpay.<br>
     <br>
    A friend wondered why anyone who <em>wasn’t</em> levered to the hilt would bother to use Afterpay. Surely these are the last people you should be lending to?<br>
     <br>
    But there can't be 1.3 million over-leveraged Australians who can't pay their bills - though perhaps some would disagree!<br>
    <br>
    There’s just something about paying for something later that really speaks to our psychology. It’s not just millennial fashion buyers – though these are some of the most valuable customers to have anyway.<br>
     <br>
    For the consumer, it’s as simple as free money.<br>
     <br>
    Add in the fact you can use email and password in a seamless way (incomparably better to say, Paypal), and it’s easy to see why people love it so much. It's more about convenience and psychological candy rather than a commercial decision to save on interest, though ofcourse that helps. <br>
    <br>
    <strong>[Quick aside: </strong>why have no consumer banks developed their own email/password widgets for websites? Surely this would be extremely valuable - and even a tiny fee would create a highly valuable business.<strong>] </strong><br>
     <br>
    And on credit, Afterpay’s net transaction loss has actually dropped, from 1.6% at IPO to 0.6% for FY17.<br>
     <br>
    They do seem to outsource credit checks, by assuming if a customer has a credit card a bank has already confirmed your ability to pay – but after that initial leap of faith the firm rapidly accumulates data on all their customers.<br>
    <br>
    If a customer defaults Afterpay can cut them off from further credit.<br>
     <br>
    The second question mark we had on their business model was the value proposition for merchants.<br>
     <br>
    But here the data is telling. As it turns out, adding Afterpay to a website dramatically improves sales and basket values. That is why the merchant wins, though ofcourse time will tell how lasting these merchant relationships are.<br>
     <br>
    So Afterpay is one of those businesses with a clear value proposition for everyone.<br>
     <br>
    With those questions answered, there are <em>many </em>things to like about the firm. Growth is fast, doubling every 6 months and adding perhaps 200k customers a quarter.<br>
     <br>
    Afterpay is substantially better than layby – for both the merchant and consumer, and the 25% initial payment allows a palatable entry point for millennials into luxury items, without brand-destroying discounts.<br>
     <br>
    And from here, there are multiplicative avenues of growth:<br>
     
    <ol>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Increasing Australian customer base from ~1.3m;</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Adding services. Travel in particular is a perfect fit;</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">International expansion;</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Additional business lines; and</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Use of their data</li>
    </ol>

    <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Adding business lines is where it gets interesting.<br>
        <br>
        What’s the value of a payments provider with the love - and credit card details - of hundreds of thousands of millennials?<br>
        <br>
        Financial services, savings, and superannuation beckon.<br>
        <br>
        What of profits? How much cash is the firm burning?<br>
         <br>
        In their FY17 results they posted EBITDA margins of about 17% on revenue of $22.7 million – but that has already lifted to a run rate of $60 million. We expect (and hope) the firm invests any excess financial capacity they have in growing the business.<br>
        <br>
        Perhaps the main issue facing Afterpay is that they are a pricetaker. The merger with Touch brought all technology in house – but they will always be reliant on third party funding, the existence and pricing of which will be out of their control. Currently they have a 2 year, $350 million facility with NAB (remember they can lend a dollar about six times per year).<br>
        <br>
        Afterpay's cash flow statement is one of the ugliest I've seen, but this is to be expected. Given their fast rate of growth, there are vastly higher payments out than cash receipts in. This funding gap, in our opinion, is the risk to watch. Their first down credit cycle will be a real test, as it will for many in this market.<br>
        <br>
        Given the scale of the opportunity and their rate of growth on their existing customer base, our entry weighting of about 4% seems right.<br>
        <br>
        It's worth mentioning that regulators are reportedly taking an interest in the company. But this is not payday lending, where interest rates can hit hundreds of thousands percent, and lead to indentured borrowers. This is free credit, in small amounts and tenors. <br>
        <br>
        Direct competition by a well-financed US fintech could pose a threat, but most online shoppers already have accounts with these firms. Personally I think it's a shame Thiel and Musk didn’t finish the job at Paypal. <br>
        <br>
        Given Afterpay's vastly superior user experience, perhaps it's Paypal that should be watching out. <br>
        <br>
        Best<br>
        Michael<br>
         </p>

</div>