

      <div class='col-sm-9 people'>
          <h1 id="name">Michael Frazis</h1>
        <div class='selfie'><img class='selfie' src='../public/img/michaelfrazisselfie.jpg'></div>
          <h3>Role</h3>
          <p>
              Michael is the Chief Investment Officer and responsible for the Fund's investments.
          </p>
        <h3>Experience</h3>
          <p>Michael Frazis has over ten years investing experience in public market. For the first three years of his career he worked for an investment fund analysing listed and unlisted investments across the capital structure in the United Kingdom, Australia and New Zealand. Michael has worked on public and private investments in real estate, infrastructure, mining, shipping and hotels.</p><br>
          <p>
              <Michael cofounded a non-profit with Sam Waller called <a href="www.freeurbantutors.com">Free Urban Tutors</a> providing free tutoring in Maths and English to disadvantaged students.
          </p>
        <h3>Education</h3>
          <p>Michael holds a BA and Master of Chemistry from Oxford University where he was a member of Magdalen College. At Oxford he demonstrated the scale-up potential of enzyme-catalysed fuel cells. His research can be found <a href = "https://www.academia.edu/4051978/Scaling_up_and_enhancing_enzyme_catalysed_fuel_cells">here.</a>
              <p>He was also awarded Masters of Finance from the London School of Economics.</p>
        <div>
            <ul class='list-group'>
                <li><a href='https://www.linkedin.com/in/michaelfrazis' target="_blank">LinkedIn  </a></li>
            </ul>
        </div>
          <h1 id="name">Samuel Waller</h1>
            <div class='selfie'><img class='selfie' src='../public/img/samwaller.jpg'></div>
            <h3>Role</h3>
            <p>
                Sam oversees macro strategy and oversees risk management and operations at the Fund.
            </p>
            <h3>Experience</h3>
            <p>Sam has spent over six years in financial markets, most recently as VP at Citi, where he was co-head of fixed income sales. Before that he covered G10 rates sales at RBC. He
            also worked at the Westpac Group in Corporate Solutions. He cofounded Free Urban Tutors with Michael Frazis.</p><br>
            <h3>Education</h3>
            <p>Sam has a Bachelor of Commerce from the University of Sydney and speaks fluent Italian. </p>
            <div>
                <ul class='list-group'>
                    <li><a href='https://www.linkedin.com/in/sam-waller-91912958' target="_blank">LinkedIn  </a></li>
                </ul>
            </div>
        </div>

