<style>
    #peoplet{
        background-color:lightblue  ;
    }
</style>

<div class='col-sm-5 people'>
    <h1 id="name">Michael Frazis</h1>
    <div class='selfie'><img class='selfie' src='../public/img/michaelfrazisselfie.jpg'></div>
    <h3>Role</h3>
    <p>
        Michael is the Chief Investment Officer and responsible for the fund's investments.
    </p>
    <h3>Experience</h3>
    <p>Prior to founding the firm, Michael spent five years in private equity firm in London, after completing internships in Goldman Sachs Special Situations Group and the Boston Consulting Group.</p>
    <h3>Education</h3>
    <p>Michael holds a BA and Master of Chemistry from Oxford University where he was a member of Magdalen College. At Oxford he demonstrated the scale-up potential of enzyme-catalysed fuel cells. His research can be found <a href = "https://www.academia.edu/4051978/Scaling_up_and_enhancing_enzyme_catalysed_fuel_cells">here.</a>
    <p>He was also awarded Masters of Finance from the London School of Economics.</p>
    <div id="linkedin">
        <a href='https://www.linkedin.com/in/michaelfrazis'><img src="http://www.danpontefract.com/wp-content/uploads/2014/02/logo-linkedin.png" ></a>
    </div>

    <h1 id="name">Anna Satouris</h1>
    <div class='selfie'><img class='selfie' src='../public/img/annasatouris.jpg'></div>
    <h3>Role</h3>
    <p>
        Anna overseas client relations for the fund.
    </p>
    <h3>Experience</h3>
    <p>Anna joined Frazis Capital Partners from Westpac, where she worked on a number of key programs, such as the Women In Leadership Initiative, and the Moon and Back Initiative,
        spearheading corporate agendas and targets such as equality in the workplace and improving employee engagement. Prior to Westpac she worked as a HR consultant for BT Financial Group.</p><br>
    <h3>Education</h3>
    <p>Anna has a Bachelor of Commerce from Notre Dame. </p>
    <div id="linkedin">
        <ul class='list-group'>
            <a href='https://www.linkedin.com/in/sam-waller-91912958'><img src="http://www.danpontefract.com/wp-content/uploads/2014/02/logo-linkedin.png"></a>
        </ul>
    </div>


    <!--

    <h1 id="name">Samuel Waller</h1>
    <div class='selfie'><img class='selfie' src='../public/img/samwaller.jpg'></div>
    <h3>Role</h3>
    <p>
        Sam oversees macro strategy and oversees risk management and operations at the Fund.
    </p>
    <h3>Experience</h3>
    <p>Sam has spent over six years in financial markets, most recently as VP at Citi, where he was co-head of fixed income sales. Before that he covered G10 rates sales at RBC. He
        also worked at the Westpac Group in Corporate Solutions.</p><br>
    <h3>Education</h3>
    <p>Sam has a Bachelor of Commerce from the University of Sydney and speaks fluent Italian. </p>
    <div id="linkedin">
        <ul class='list-group'>
            <a href='https://www.linkedin.com/in/sam-waller-91912958'><img src="http://www.danpontefract.com/wp-content/uploads/2014/02/logo-linkedin.png"></a>
        </ul>
    </div>
    -->


</div>
