
    <h2 style="margin-top:15%">Performance</h2>

    <img src="../public/img/frazisperformance.PNG" class='img-responsive performanceimage'>
    <br>
    <p class='disclaimer'>&#160 &#160 &#160 &#160 Frazis Private refers to 3rd party calculated gross performance of a private portfolio managed by Michael Frazis.
        Frazis Fund performance refers to performance of the Fund since launch, net of all fees and costs. </div><br>
<p class='disclaimer'>&#160 &#160 &#160 &#160The usual disclaimers apply. Historic performance does not necessarily imply anything about the future. This is record is unaudited. Investments are only considered from sophisticated investors. This is not marketing information and we will only supply information to investors qualified investors. If you would like to receive this information please send through an email introducing yourself.</p>

