<div class="col-sm-5 people">
    <p id="home1">
        We run a global, equity-focused investment fund.<br>
    <p id="home1">
        <a class='list-group-item' href='public/pdf/FrazisIntroNov17.pdf'>Frazis Fund Presentation</a>
    <div><img src="public/img/performance31Oct17.png" id="home" class="img-responsive"></div>
</div>