<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>

<div class='col-sm-5 people'>
<h1 style="text-align: center;display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;">September 2017 Update</h1>

    <strong>September 2017</strong><br>
    <br>
    Dear investors,<br>
    <br>
    The Fund returned +5.8% in September, ahead of the S&P500 at +2.1% and the ASX200 at -0.1%.<br>
    <br>
    <img data-file-id="2451761" height="158" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/8e74645b-f109-4546-abe0-55aca244b10c.png" style="border: 0px;width: 600px;height: 158px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <img data-file-id="2451765" height="376" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/5836581f-e0d4-4ce1-91ee-1f67d6d10c31.png" style="border: 0px;width: 600px;height: 376px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    <strong>Returns</strong></p>
    After 15 months, we’ve now returned 26% net for investors, for an IRR of 20%. This is right on target, and about 2x the return of the ASX200. A sincere thank you to all our investors who’ve backed us so far. <br>
    <br>
    Since launching 15 months ago, we’ve operated in 107 stocks and currently hold 27 positions (24 long, 3 short).<br>
    <br>
    High-returning funds tend to be either concentrated or focused on small caps, or both. We aim to generate returns differently, and are increasingly focused on large caps.<br>
    <br>
    Since launch, our best performing themes have been financials (approximately 6.4% contribution), mining and energy (6.3%), and UK real estate developers (6.2%).<br>
    <br>
    +4.8% has come from Aussie large caps. Geographically, the returns have been approximately split as follows:
    <div style="text-align: center;"><img align="center" data-file-id="2451769" height="162" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/e97b7917-7fe4-4c8a-8077-3a319970d239.png" style="border: 0px initial;width: 200px;height: 162px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="200"></div>
    <br>
    Note: macro in this case includes commodity and index trades, but not FX or hedges. <br>
    <br>
    Our higher conviction positions, as judged by whether they are featured in these letters, have outperformed the portfolio itself. 
    <div style="text-align: center;"><img data-file-id="2451773" height="227" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/a5ee179f-c8e0-489b-80c5-7326957655b2.png" style="border: 0px initial;width: 400px;height: 227px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"></div>
    <br>
    If you think I’m publishing investments that have already started working, I probably am. The returns above are measured from the Fund’s first purchase, not when published.<br>
    <br>
    To get the entry-timing piece of the puzzle, you’ll just have to invest with us.   <br>
    <br>
    <strong>Investments featured in monthly letters:</strong><br>
    <br>
    Our unleveraged equity portfolio is up 39% since inception fifteen months ago, so these numbers aren’t wholly unrepresentative.  <br>
    <br>
    Our featured shorts have done moderately, with Zillow being an exception (more about that another time).  Our current average sell price is around $39.4.
    <div style="text-align: center;"><img data-file-id="2451777" height="151" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/161fa260-68ff-40f3-bf9c-15c81b559d29.png" style="border: 0px initial;width: 400px;height: 151px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="400"></div>
    <br>
    We have consistently run 10-15% of the portfolio in Chinese tech megacaps. This letter seems a good time as any to discuss why.<br>
    <br>
    <strong>Netease</strong><br>
    <br>
    Netease is the number 2 Chinese gaming company behind Tencent, designing and distributing games on mobile and PC. Netease owns the Chinese rights to distribute titles from Blizzard, the US-market leader. You may have heard of World of Warcraft and Starcraft.<br>
    <br>
    Netease has exclusive rights to Microsoft’s Minecraft in China, the global phenomenon that has already crossed 220 million sales elsewhere in the world. This is a looming source of growth yet to his Netease’s financials.<br>
    <br>
    The firm is growing fast – with revenue growth above 50% for each of the last three years, and this stock is <strong><em>cheap</em></strong>, at 8x 2019 EV EBITDA (by GS estimates – analyst averages shown above are higher).<br>
    <br>
    We purchase many of our large cap stocks after strong price rallies. This may look like we’re chasing momentum, but that’s not the case.<br>
    <br>
    Often opportunities arise when fundamentals improve faster than price, leading to a stock becoming cheaper as the price rises. The value opportunity can actually become clearer after a stock has run up.<br>
    <br>
    Other times external shocks offer temporary value opportunity, as occurred when we purchased four UK land developers after Brexit. Our favourite, Berkeley, is shown below.<br>
    <br>
    These are two of the systematic ways we’ve found large and mega-cap value in our portfolio.<br>
    <br>
    <img data-file-id="2451781" height="479" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/352a8dc5-0dee-4dad-9490-17a429b01bfa.png" style="border: 0px;width: 600px;height: 479px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    The third opportunity set is linked to the first: fast growing companies that look expensively historically, but rapidly outgrow their valuation. <br>
    <br>
    Netease hits two of these categories, and would be interesting enough as a cheap, fast-growing gaming story.<br>
    <br>
    The more critical part, however, is Netease’s opportunity in e-commerce, advertising and email services, including the amusingly-spelled Kaola website.<br>
    <br>
    These businesses are growing faster, at 69% year on year, and now comprise ~25% of revenues.<br>
    <br>
    Often a small business unit grows far faster than the rest of the company, and eventually reaches an inflection point where the growth starts to move the needle on the company’s entire performance.<br>
    <br>
    Such moments make excellent investment entry points, and we believe Netease is there now.<br>
    <br>
    So many of our opportunities come from situations where:
    <ol>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Fundamentals grow faster than a stock price,</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">External shocks dramatically cheapen a stock’s price,</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Fast growing companies grow far beyond their initial expensive-looking valuation</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">A fast-growing business unit starts to move the needle on the broader businesses performance - which remains valued on past form.</li>
    </ol>
    This approach to timing makes no use of catalysts, that beloved investment term, and is fundamentally driven in every case.<br>
    <br>
    We would prefer to buy cheap stocks that may be twice the size in 18-24 months, rather than stocks with a series of ‘catalysts’ that may or may not eventuate, and may or may not be priced in.<br>
    <br>
    It’s rare to find Netease’s level of growth at forward multiples of 8. While the position is currently posting a small loss, we have high conviction in the story. <br>
    <br>
    <strong>Chinese Megacaps</strong><br>
    <br>
    We revisited Alibaba and Baidu this month, and sold out of Baidu over the past few weeks.<br>
    <br>
    We entered Baidu in the wake of a scandal: unscrupulous operators advertised fake medicines that turned out to be fatal.<br>
    <br>
    At the time Baidu was trading at 1/10<sup>th</sup> the valuation of Google, and we judged that the short term issues were simply noise relative to the prospects of the leading search engine in China. <br>
    <br>
    Now, after a nearly 70% rally over the past few months, Baidu trades at about 1/7<sup>th</sup> the valuation of Google. The gap has converged significantly.<br>
    <br>
    Baidu is valued richly on an absolute basis too, with only half the growth rate of Tencent, Alibaba or Netease.<br>
    <br>
    Furthermore, the Google/Baidu analogy does not quite hold, as the Chinese are conducting more and more of their search on platforms like Tencent and Alibaba. The lion’s share of advertising growth is going to these platforms:
    <div style="text-align: center;"><img data-file-id="2451785" height="382" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/24b510ea-2a40-4c2f-b626-7d74c4382775.png" style="border: 0px;width: 350px;height: 382px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="350"></div>
    <br>
    I have little doubt that Baidu will grow to fill its current valuation, but having caught a very steep bottom-left-to-top-right movement, it seems an appropriate time to take the money and watch from the sidelines.<br>
    <br>
    <strong>So how do we assess these growth companies?</strong><br>
    <br>
    The Fund’s target return demands >3x returns over 5 years, so companies trading on 2022 multiples of around 3x or lower are highly attractive. A 2x return over five years won’t cut it, especially after taking into account error and uncertainty.<br>
    <br>
    Stocks like Alibaba trade rich on historic multiples, but are cheap on <em>future</em> multiples. We judge that Alibaba can maintain its leading position in an industry that will more than double over the next five years.<br>
    <br>
    Since Alibaba is growing revenue at over 55%, which is roughly twice China’s e-commerce sector in general, this seems reasonable.<br>
    <br>
    Under this scenario Alibaba’s US$35 billion of revenue could be over $150 billion in as few as four or five years, with EBITDA approximately 80-100 billion. All of a sudden Alibaba’s $400 billion valuation doesn’t look so rich at all.<br>
    <br>
    And on our entry valuation of $180 billion, the valuation looks positively trivial. As, we expect will today’s price in a few years’ time.<br>
    <br>
    The chart below shows how rapidly Alibaba has grown.<br>
    <br>
    2012 wasn’t so long ago.<br>
     <br>
    <img data-file-id="2451789" height="429" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/54e3a4e9-e53c-4e88-8b14-0ba6e2a64931.png" style="border: 0px;width: 600px;height: 429px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    Finding companies that can go from 6 to 158 in seven years is where we focus much of our attention. <br>
    <br>
    Chinese e-commerce is actually accelerating, and barely crosses 20% of all sales.<br>
    <br>
    <img data-file-id="2451793" height="429" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/8d2e148e-9cf9-4fdc-8934-594cbd64a73c.png" style="border: 0px;width: 600px;height: 429px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    There are three multiplicative growth factors here:
    <ol>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Alibaba’s growing share of ecommerce</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">E-Commerce’s growing share of the total retail pie</li>
        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">China’s growing prosperity</li>
    </ol>
    All suggesting there is plenty of runway left here.<br>
    <br>
    To answer a question from a week or so ago, the reason I never bought Tencent was that it traded at a substantial premium to Alibaba, with similar prospects. Since then Alibaba has slightly outperformed Tencent since we first purchased it for our investors.<br>
    <br>
    <img data-file-id="2451797" height="388" src="https://gallery.mailchimp.com/08c26e5e46cf7c109889f7d9d/images/13a9333c-0339-4de7-8000-b8004f27ea63.png" style="border: 0px;width: 600px;height: 388px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="600"><br>
    <br>
    Our approach to growth stocks could be seen as earning premiums for waiting – a kind of capital bridge between now and then.  <br>
    <br>
    It’s fair to ask if the Fund is so long term, why is our turnover so high? We only hold 27 positions out of the >100 we’ve held since launch.<br>
    <br>
    The answer is we constantly adjust the portfolio today, for the best possible outcome many years ahead.<br>
    <br>
    There is an analogy in navigation. If you leave a port and point your ship at an intended destination, you will end up vastly far from where you wanted to be. Minor inaccuracies compound to fatal errors.<br>
    <br>
    However, if you constantly adjust course, always pointing in <em>approximately</em> the right direction, you can have a highly efficient route and safe entry to harbour. It doesn’t do to push analogies too far, but there it is. <br>
    <br>
    We are in the business of making predictions about the future, sometimes more than five years ahead.<br>
    This seems an impossible task, but there will be plenty of data points between now and then.<br>
    <br>
    With only 3-4% of global transactions happening online, and the world’s wealth steadily growing, the growth runway of companies like those above may be far longer than expected indeed.<br>
    <br>
    <strong>Conclusion</strong><br>
    <br>
    Next month I’ll write about Aussie small caps, which seem highly topical in Sydney these days.     <br>
    <br>
    I usually write about stock investments in these letters, but that is only half of our strategy. Be assured our hedging program is as active as ever.<br>
    <br>
    Best<br>
    Michael<br>
