<style>
    #insightt{
        background-color:lightblue  ;
    }
</style>


    <img src="../public/img/xero/image002.png" class ='img-responsive' id="xero2">
    <img src="../public/img/xero/image003.png" class ='img-responsive' id="xero2"><br>
    <img src="../public/img/xero/image004.png" id="xero1">


    <h3>Introduction</h3>

    <p>Xero is an NZ$3.4 billion South Pacific tech success story headquartered in Wellington, New Zealand. The firm aims to completely
        automate accounting for small-to-medium enterprises by direct feeds from financial institutions and payment facilitators like Paypal.
        Xero has an open API and has developed an active third-party app ecosystem rather than attempting to offer a full suite of financial
        tools. While Xero burned through $52 million in cash over the past 12 months, it is on the cusp of profitability and will soon be
        investable by a far wider range of mandates.

    <p>A rough back-of-envelope calculation suggests that for every 10% market share Xero achieves in the United States, enterprise
        value would increase by $10 billion, or 3x the current market capitalisation. We can justify Xero’s current valuation on a
        mature business in Australia and New Zealand alone. </p>

    <p>Xero was founded in 2006 in Wellington, launched in Australia and the UK in 2008, and the US in 2011. Xero IPOd in 2007 and shortly after
        raised money from Peter Thiel’s Valar Ventures, Matrix Capital and the founder of MYOB. While seemingly expensive, over the most recently
        reported 12 months the firm created over NZ$600 million of ‘LTV’, an undiscounted measure of lifetime gross profit. This equates to about
        0.4% of enterprise value every week. The stock is thinly traded and the largest institution is Blackrock with just over 1% ownership.</p>

    <p>Over the coming years the vast majority of businesses will move their accounting from filing cabinets and PC hard drives to the cloud,
        where bank and financial intermediary integration makes financial reporting and tax filing a simple process. This shift has only just
        begun, and Xero, as a cloud native, is likely to stake a large claim. </p>
    <p>Xero is active in over 180 countries and the firm partners with over 100 banks and payment facilitators (including firms like Shopify,
        Strip etc) to link transactions directly to financial reports and tax statements. Machine learning categorises transactions into accounting
        line items which can be reconciled with a single click approval or recategorized as appropriate by the user. </p>
    <p>Accountants and financial advisors can access the data and quickly generate reports, tax returns and financial analysis. Line items
        can have receipts, photos and notes attached to aid audit, and over 500 third party apps offer additional services such as payroll and
        timesheets. Xero has begun partnering with banks to assist with loan approvals as the data held on Xero – a complete record of the firm’s
        transactions and cash flow - can help verify a firm’s credit worthiness.</p>
    <p>Once clients are on Xero’s platform they are quite sticky. The accountants and financial advisors who control 90% of Xero’s customer base
        have enormous switching costs. They would need to retrain staff, update systems and integrate a whole set of new APIs into their systems. </p>

    <h3>Growth Strategy</h3>
    <p>Xero’s marketing strategy is targeted at accountants and financial advisors. Xero offers training in the software and then incentives advisors
        directly to sign up clients through an affiliate program, where advisors receive US$5-20 for each free trial they sign up, and US$50-300 for
        each new paying client. For those with long client lists this can be substantial. </p>
    <p>Xero has gamified the process, offering partners award points and status levels reminiscent of airline loyalty programs to encourage signups.
        Once an advisor is on board, Xero offers training, support, free software and cash. </p>
    <p>This is Xero’s core growth funnel with nearly 90% of Xero customers signing up with a linked financial advisor. The firm partners with leading
        accounting firms in Australia, New Zealand, the UK and USA to drive users to the platform.</p>
    <p>Currently every dollar spent acquiring a customer leads to a circa tenfold increase in lifetime revenue in ANZ, though this figure is lower
        overseas whether the subscriber base is lower and investment is higher, but it’s an indication of where the economics of those markets might
        end up.</p>
    <p> The firm is most mature in New Zealand, where approximately one third of small businesses use the software. Even in this market, yoy growth
        for the year to March 2017 was +33%. In Australia and the UK – 2 years behind the New Zealand roll out - growth is running at +54% on a
        constant currency basis on a base of over 300,000 paying monthly subscribers. In the UK Xero is running at +62%, and Xero claims cloud market
        leadership, ahead of incumbent Sage. The equivalent incumbent in Australia is MYOB.</p>
    <p>The playbook from here is clear: consolidate in Australia, New Zealand and the UK, investing in international markets like South Africa and
        South East Asia, then aggressively pursue a foothold in the United States. The UK Government is making all tax returns digital, a key driver
        of cloud accounting software adoption. Xero collaborates with the three largest British accounting software vendors, IRIS, Wolters Kluwer
        and Thomson Reuters. </p>
    <p>A successful US execution could lead this to be a &gt;10x stock in the mid to long term. Xero initially began in the states with a
        word-of-mouth approach, but has since built a critical mass and is working with H&amp;R Block and Carr, Riggs and Ingram.</p>
    <img src="../public/img/xero/image005.png" class=".img-responsive" id="xero1">
    <p>The United States is a much harder nut to crack than ANZ and the UK, which have much more concentrated banking systems. So far Xero has
        announced partnerships with Capital One, Silicon Valley Bank, City National Bank and Wells Fargo. It will take some time before they
        achieve the level of comprehensive data feeds available in ANZ/UK, and as of yet there is no common banking API for the data Xero requires.
        Xero was an early integrator of international payment integrators like Stripe and Paypal.  </p>
    <p>The firm is a beneficiary of machine learning and artificial intelligence, and targets a future where accounts are prepared automatically
        from transaction data. Xero’s data is prodigious: in the last year alone over 700 million transactions were reconciled, 150 million
        invoices were sent and 120 million bills were processed through the platform. The aim is to make account preparation as close to automatic
        as possible.</p>
    <img src="../public/img/xero/image006.png" class ='.img-responsive' id="xero2">
    <img src="../public/img/xero/image007.jpg" class ='.img-responsive' id="xero2">
    <p>Over the past year, the firm has increased paying monthly subscribers by 44%, lifting annualised revenue run rate from $248 million to $360
        million in a single year. At current growth rates this will be over $500 million next year and over $700 million the year after that. </p>
    <p>The immediate question on your mind will be:</p>
    <p>How sustainable are these growth rates?
        In the firm’s favour:</p>
    <ol>
        <li>Almost every business will require a cloud accounting solution.</li>
        <li>Xero is maintaining growth in its most mature markets of New Zealand and Australia. </li>
        <li>Most businesses in Europe and the USA are yet to choose a cloud solution. Xero has gained early traction in targeted markets
            like South Africa.</li>
        <li>Accounting is a close-to-perfect candidate for automation and the cloud. The vast majority of accounting around the world
            remains in cabinets and hard-drives accumulated with CD-ROM software. </li>
        <li>Xero is ‘cloud native’ and has dominated adoption over better established rivals MYOB (whose founder was an early Xero investor)
            and – with the very notable exception of Intuit/Quickbooks in the USA.  </li>
        <li>As a technology-first company Xero has the largest ecosystem of third party developers and bank integrations.
        </li>
    </ol>
    <h3>Risks</h3>
    <p>The key risks are competition, especially from Intuit, which has only twice the cloud subscribers but over ten times the market
        capitalisation and vastly greater resources. </p>
    <p>From the outside it appears that Xero has erred in taking so long to focus on the United States, and the firm is still approaching
        the market far too slowly, in my opinion. </p>
    <h4>SAAS metrics</h4>
    <p>Xero’s SAAS metrics are excellent and improving. </p>
    <ol>
        <li>Monthly Average Revenue Per User is $29/month, or $348/year.</li>
        <li>Monthly Churn is 1.15%. This is lower in ANZ and higher overseas. </li>
        <li>Lifetime Value per subscriber is $2,121.</li>
    </ol>
    <p>The firm uses these to calculate they added over $688 million of LTV, or about 0.4% of the current enterprise value per week.
        LTV is an undiscounted gross profit metric and could vanish if, say, churn rate increased dramatically. However, LTV is still a
        decent way to measure annual performance. $688 million of gross value add makes the market capitalisation of $3.2 billion look modest.
    </p>
    <h3>Competitive Landscape</h3>
    <p>This is a competitive space, to put it mildly. </p>
    <p>Intuit is the market leader in the United States with their Quickbooks and Quickbooks Online. Intuit has a market cap of over
        $36 billion and recently added the entire value of Xero’s equity in a single day. It has 5 million users – 2 million of which are
        on the cloud (compared to Xero’s 1 million cloud users), and is dominant in the United States. The firm has had mixed success
        elsewhere but is incredibly well resourced. Intuit now claimsto be matching Xero’s growth rate in the United Kingdom, which
        would pose a threat.
    </p>
    <p>In the plus side, Intuit’s market capitalisation shows the scale of the opportunity, at ten times as high as Xero’s with 2x
        the paying cloud customers. Quickbooks Online is growing at nearly 60% in the US off a far higher base.
    </p>
    <p>Our thesis does not require Xero to beat Intuit in the United States, but for the stock to appreciate multiple times Xero
        would need to stake a significant claim in the States. A rough back of envelope suggests that for every 10% market share
        Xero achieves in the USA, value would increase by ten billion, or 3x. A NASDAQ listing and even modest execution in the
        United States would lead to a dramatic upwards valuation in Xero.</p>
    <p>In Australia competitor is ASX-listed MYOB, which dominated accounting software in the CD-ROM era. Xero has marginally edged out
        MYOB with a superior cloud native product, and MYOB as a group is only growing revenue at 9% on EBITDA margins of 46%. This
        gives an indication of what mature Xero profitability might look like. It’s a common theme in tech to see a substrate native
        upstart edge out a previously entrenched incumbent, who spends valuable time trying to compete with a hybrid offering. MYOB
        has 585k subscribers, with 249k online, vs Xero’s 446k customers, who are entirely online. Still, MYOB is growing its online
        subscriber offering at 47%.</p>
    <p>Oracle is also worth mentioning as in November 2016 the firm purchased Netsuite for US$8.7 billion cash. This was an EV multiple on
        sales of 7.7x and on EBITDA of 70x. Netsuite offers a full cloud business software offering, including accounting, CRM, inventory and
        ecommerce. Oracle is likely to target larger businesses than the masses of small businesses targeted by Xero, but this is one to watch.</p>
    <p>Oracle’s approach also highlights one of Xero’s important differentiators: instead of trying to offer a comprehensive service, Xero
        owns the backend data, then offers an extensive API to third parties. The list of Xero apps is quite astounding, and in the long run
        likely to win over more traditional bundled competitors.  There is an annual Xerocon for Xero developers.</p>
    <h4>Trading history</h4>
    <p>The stock has had a bumpy ride, soaring from under $3 in 2012 to over $40 in early 2014, before promptly dropping to $15. After building
        a base and trading between $15 and $20, the stock has started to rise again as Xero’s execution catches up to those lofty expectations.
        The stock is dual-listed in Australia and New Zealand. We own the Australian stock. </p>
    <h3>Valuation #1: Back of Envelope</h3>
    <p>
        The bull case is as follows: Xero maintains growth rates for four years and
        reaches a run rate of over $1.3 billion in the mid-term. On a cost base of
        $700 million (up from current $366m) this provides $700 million of EBITDA.
        A valuation of 15x (as there would still be decent runway for growth) would
        yield an enterprise value of over $10 billion, equivalent to a 3x return in
        3-5 years. Further upside would depend on how long Xero can maintain
        30%-40% growth.
    </p>
    <p>
        This may well be achievable – Xero has been in New Zealand for over ten
        years and is still growing at 30%. As the ex-ANZ revenues become a larger
        part of the pie overall growth may even accelerate from here.
    </p>
    <p>
        <img
                src="img/xero/image009.jpg id="xero2""
        />
    </p>
    <p>
        If Xero fails overseas and growth rates fall to zero over the next few
        years, the current market capitalisation should still be comfortably
        recoverable. Xero is, after all, firmly entrenched and growing fast in its
        core markets.
    </p>
    <p>
        Note these back-of-envelope valuations are based on run rates and don’t
        include cash. In all likelihood Xero will spend the net cash generated each
        year on building the business and achieving these growth targets.
    </p>
    <p>
        <img
                src="../public/img/xero/image010.jpg"
        />
    </p>
    <p>
    <h3>Valuation #2: Forward Looking SAAS</h3><br><br>
    </p>
    <p>
        <img
                src="../public/img/xero/image011.png" id="xero2">

    </p>
    <p>
        Using the same growth rates above we can estimate where Xero will report
        LTV at coming year ends:
    </p>
    <p align="center">
        <img
                src="../public/img/xero/image012.png" id="xero2"
        />
    </p>
    <p>
    <h3>Valuation #3: By parts</h3>
    </p>
    <p>
        Instead of calculating growth rates multiple years out – a sketchy prospect
        at best – we could determine where Xero ends up in each of its core markets
    </p>
    <p>
        Let’s assume Xero grows to 50% of New Zealand and Australia, which seems
        reasonable given its name recognition, the current 47% growth rate and the
        fact Xero is almost there in New Zealand. Scaling is done according to
        population. Should Xero achieve a 25% share in the United Kingdom, a 10%
        share in the United States, trade at a 12x EV EBITDA and an EBITDA margin
        of 40% to reflect SAAS margins, after scaling up New Zealand’s revenue by
        population we get the following mature (timing-undefined) valuation:
    </p>
    <p align="center">
        <img
                src="../public/img/xero/image013.jpg" id='xero1'
        />
    </p>
    <p>
        Such a result would reflect a ~4x uplift over the current market
        capitalisation. Xero has just achieved positive cashflow, however were the
        firm to raise additional equity capital and push the cash through its
        growth funnel this would be positive. If anything, we are concerned that
        management will be too timid to make the bold moves required to succeed in
        a market as large as the United States.
    </p>
    <p>
        There are two key points here:
    </p>
    <ol>
        <li>Australia and New Zealand may alone justify Xero’s current valuation.</li>

        <p>
        <li>Even a modest success in the US and UK will lead to dramatic increase in
            value. Xero would achieve $10 billion for every 10% of US market share the
            company reaches, or an additional 300% return for investors today.</li>
        </p>
    </ol>
    <p>
        These are bullish numbers, but Xero has a proven model and has achieved a
        successful roll-out in two countries.
    </p>
    <p>
        There has been public speculation that the CEO is keen to list on NASDAQ
        and pursue the US more vigorously, only to be opposed by a more circumspect
        board that advocated a more targeted approach to geographical expansion.
        Given the US market is currently up for grabs but may soon be locked down
        by Intuit, the founder’s instincts appear to be correct here.
    </p>
    <p>
    <h3>Valuation #4: Comparables</h3>
    </p>
    <p>

        Netsuite was recently purchased by Oracle on a 9.7x EV/revenue
        multiple, roughly in line with where Xero trades now.

    </p>
    <p>

        Xero trades somewhat towards the top end of SAAS peers growing at
        similar rates with similar gross margins. By next annual results
        revenue should be substantially higher, and a constant multiple would
        lead to value appreciation in line with Xero’s &gt;40% growth rate.

    </p>
    <p align="center">
        <img
                src="../public/img/xero/image014.jpg"
                id="xero2"
        />

    </p>
    <p>
    <h3>Profitability</h3>
    </p>
    <p>
        Xero’s metrics are all pointing in the right direction – bottom left to top
        right. Xero is showing every indication of being a true SAAS business, not
        one that requires enormous marketing spend to drive revenue with only the
        promise of profitability. Everything appears to be in order here.
    </p>
    <p>
        This is a good time to break even as Xero will have to invest heavily to
        drive growth in the UK and the USA, though so far marketing spend has been
        very modest, at $50 million per year.
    </p>
    <p>
        <img
                src="../public/img/xero/image015.jpg"
                id="xero2"
        />
    </p>
    <p>
        <img
                src="../public/img/xero/image016.jpg"
                id="xero1"
        />
    </p>
    <p>
        <img
                src="../public/img/xero/image017.jpg"
                id="xero1"
        />
    </p>
    <p>
    <h3>Ownership and Liquidity</h3>
    </p>
    <p>
        Insiders and VC firms control the company with over 50% ownership. The firm
        is run by one of the founders Rod Drury, who has taken the company from
        50,000 subscribers to 1 million in five years.
    </p>
    <p>
        Rod Drury is also the largest shareholder (15%) with his cofounder Andrew
        Winkler (10%). Matrix Capital Management (9%), Accel Partners (5%), Valar
        Ventures (5%) and another insider Samuel Morgan (3%) round out roughly half
        the stock. The first major investment institution is Blackrock with 1.6%.
    </p>
    <p>
        This stock is very under-owned institutionally, no doubt put off by the New
        Zealand listing and early volatility of the stock. A Nasdaq listing seems
        like a good idea – it would broaden exposure to Xero’s brand and open the
        stock to the enormous pools of tech-focused capital in the United States.
    </p>
    <p>
    <h3>Risks and Threats</h3>
    </p>
    <p>
        Xero faces serious competition. Best practices in software can be quickly
        replicated. While Xero’s core customer base is quite sticky, Xero needs at
        least three more years of execution to justify the current market
        capitalisation. A stumble before then would lead to a devaluation.
    </p>
    <p>
        The market itself is growing fast, but Intuit, which is vastly better
        resourced, may use its dominant position in the USA to attack Xero
        elsewhere. Intuit can spend more on product development, sales and
        marketing, and could severely limit the runway Xero has in the UK and
        perhaps even Australia. So far Xero has had limited success in the US.
    </p>
    <p>
        Xero only reports ‘North America’, indicating that some of their recorded
        subscribers might be in Canada or even Mexico.
    </p>
    <p>
        New competitors may also enter such a rapidly growing market. Banking
        systems could develop a common API, which would remove the barriers to
        entry currently enjoyed by Xero and Intuit, who had to develop individual
        relationships with each financial provider. Oracle is already a competitor
        - albeit a weak one with a different approach – and others will certainly
        arrive.
    </p>
    <p>
        With AWS as Xero’s back end, there seems to be limited technical risk,
        though a glitch that required customers to temporarily transfer their data
        to another system could prove fatal. As long as Xero is growing fast it
        will have access to capital, but if Xero hits a significant speed bump
        capital doors will shut. George Soros was right about reflexivity in
        financial markets and this is very apparent in tech.
    </p>
    <p>
        In my opinion as an outsider, they should actually raise capital now. $130
        million cash is barely enough to tackle the UK, Asia, South Africa and the
        USA all at the same time. An extra $100 million or so of marketing and
        sales spend over the next three years would give Xero a far better chance
        of success – especially in the USA - and easily justify the dilution.
    </p>
    <p>
        Xero needs to aim at the world, and if they hit 10% they will have achieved
        enormous success from here. The market is there for the taking but will
        require bold moves, and ANZ companies (and people) can be too humble in
        their ambition. If they expand too slowly they will hand territory and
        resources over to competitors - whether Intuit or someone like
        Oracle/Netsuite - who will be able to increase customer acquisition spend
        accordingly and entrench their advantage.
    </p>
    <p>
        The true risk to the thesis is that Xero loses a competitive cycle like
        this.
    </p>
    <p>
    <h3>Conclusion</h3>
    </p>
    <p>
        In the not-so-distant future filing cabinets and CDROM financial software
        will be gone, and most accounting will be done automatically through linked
        bank and transaction accounts, perused by artificial intelligence and
        machine learning. Xero’s open approach is well-suited for the challenges of
        such a fast growing and changing market. Built for this new world from the
        ground up, we expect Xero to dominate its core markets of Australia and New
        Zealand, and perhaps the UK, while taking a bite out of the US market.
        Under modest market share scenarios Xero should rerate upwards. Over the
        past four years revenue has grown from $38 million to nearly $300 million,
        and we expect Xero to be posting revenues over $1 billion in no time.
    </p>

